body {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 200px;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
}

.navbar-layoutit .btn-donate {
	padding: 0 0 0 10px;
}

.navbar-layoutit .btn-donate form {
	margin: 0;
}

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media ( max-width : 979px) {
	.navbar-fixed-top {
		position: fixed;
	}
}

.navbar-layoutit #menu-layoutit, .navbar-layoutit #language_menu-layoutit
	{
	float: left;
}

.navbar-layoutit {
	min-height: 32px;
	padding: 5px;
	z-index: 2000 !important;
}

.navbar-layoutit .navbar-brand {
	width: 180px;
	color: #fff;
	padding: 0;
	margin: 0 5px;
}

.navbar-layoutit .navbar-brand img {
	float: left;
	margin: 2px 10px 0 0;
}

.navbar-layoutit .navbar-brand .label {
	position: relative;
	left: 10px;
	top: -3px;
	font-weight: normal;
	font-size: 9px;
	background: #666;
	-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edit .demo {
	margin-left: 0px;
	margin-top: 0px;
	padding: 5px 5px 5px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
	word-wrap: break-word;
}

.container {
	width: auto;
	margin: 0 0px;
}

.sidebar-nav {
	position: fixed;
	width: 225px;
	left: 0px;
	bottom: 0;
	top: 32px;
	background: #3d3d3d;
	padding: 10px 15px;
	z-index: 2001;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	margin-left: 0px;
	padding-top: 30px;
}

.sidebar-nav .nav-header {
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	font-weight: bold;
}

.sidebar-nav .nav-header span.label {
	font-size: 10px; /*padding-bottom:0;*/
	position: relative;
	top: -1px;
}

.sidebar-nav .nav-header i.glyphicon-question-sign {
	color: #000;
	text-shadow: 0 1px 0 #ddd;
}

.sidebar-nav .nav-header .popover {
	color: #999;
	text-shadow: none;
}

.popover-info {
	position: relative;
}

.popover-info .popover {
	display: none;
	top: -12.5px;
	left: 15px;
}

.popover-info:hover .popover {
	display: block;
	opacity: 1;
	width: 400px;
}

.popover-info:hover .popover .arrow {
	top: 23px;
}

.sidebar-nav .accordion-group {
	border: none;
}

.boxes {
	
}

.sidebar-nav li {
	line-height: 28px;
	margin-bottom: 3px;
}

.sidebar-nav li .lyrow {
	margin-bottom: 5px;
}

.sidebar-nav .box {
	line-height: 26px;
	height: 26px;
}

.sidebar-nav .preview {
	margin-left: 40px;
	margin-top: 5px;
	font-size: 14px;
	display: block;
	color: #f5f5f5;
	line-height: 26px;
	width: 65%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} /*超过指定长度显示省略号*/
.sidebar-nav .preview input {
	width: 105px;
	padding: 0 10px;
	background: #bbb;
	font-size: 10px;
	color: #999;
	line-height: 20px;
	height: 20px;
	position: relative;
	top: -1px;
}

.sidebar-nav .view {
	display: none;
}

.sidebar-nav .remove, .sidebar-nav .configuration, .sidebar-nav .configurationly
	{
	display: none;
}

.sidebar-nav .move, .sidebar-nav .configuration, .sidebar-nav .configurationly
	{
	display: none;
}

.sidebar-nav .boxes {
	display: none;
}

.demo .preview {
	display: none;
}

.demo .box .view {
	display: block;
	padding-top: 0px;
} /*20160704 Tim update 30 -> 0*/
.ui-draggable-dragging .view {
	display: block;
}
/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder {
	outline: 1px dashed #ddd;
	visibility: visible !Important;
	border-radius: 4px;
}

.edit .drag {
	position: absolute;
	top: 0;
	cursor: move;
}

.edit .drag i {
	color: #000;
	text-shadow: 0 1px 0 #ddd;
}

.box, .lyrow {
	position: relative;
}

.edit .demo .lyrow .drag {
	top: 5px;
	right: 60px;
	z-index: 10;
}

.edit .demo .column .box .drag {
	top: 5px;
}

.edit .demo .column .box .configuration, .edit .demo .column .box .configurationly
	{
	position: absolute;
	top: 3px;
	right: 120px;
	white-space: nowrap;
}

.edit .demo .column .box .configuration:hover, .edit .demo .column .box .configurationly:hover
	{
	z-index: 1001;
}

.edit .demo .column .navbar-fixed-top {
	top: 33px;
	left: 180px;
}

.demo .column .navbar-fixed-top {
	top: 33px;
}

.edit .demo .column .navbar-fixed-bottom {
	left: 180px;
}

.edit .demo .remove {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 10;
}

.demo .configuration {
	filter: alpha(opacity = 0);
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	padding-left: 92%;
}

.demo .drag, .demo .remove {
	filter: alpha(opacity = 20);
	opacity: 0.2;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.demo .lyrow:hover>.drag, .demo .lyrow:hover>.configuration, .demo .lyrow:hover>.configurationly,
	.demo .lyrow:hover>.remove, .demo .box:hover .drag, .demo .box:hover .configuration,
	.demo .box:hover .configurationly, .demo .box:hover .remove {
	filter: alpha(opacity = 100);
	opacity: 1;
}

.demo .row {
	background-color: #F5F5F5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	margin: 10px 0;
	position: relative;
	padding: 0px 5px 0;
}

.column {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	margin: 5px 0;
	padding: 15px 5px 0px;
	position: relative;
}

/* preview */
body.devpreview {
	margin-left: 0px;
}

.devpreview .sidebar-nav {
	left: -225px;
	-webkit-transition: all 0ms ease;
	-moz-transition: all 0ms ease;
	-ms-transition: all 0ms ease;
	-o-transition: all 0ms ease;
	transition: all 0ms ease;
}

.devpreview .drag, .devpreview .configuration, .devpreview .configurationly,
	.devpreview .remove {
	display: none !Important;
}

.sourcepreview .column, .sourcepreview .row, .sourcepreview .demo .box {
	margin: 0px 0;
	padding: 0px;
	background: none;
	border: none;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}

.devpreview .demo .box, .devpreview .demo .row {
	padding-top: 0;
	background: none;
}

.devpreview .demo .column {
	padding-top: 19px;
	padding-bottom: 19px;
}

#download-layout {
	display: none
}

#feedbackModal textarea, #downloadModal textarea {
	width: 100%;
	height: 280px;
	resize: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#feedbackModal input {
	width: 515px;
}

#feedbackModal input.modal-error-field, #feedbackModal textarea.modal-error-field
	{
	border: 1px solid red;
}

a.language-selected {
	font-style: italic;
	font-weight: bold;
}

.modal-body {
	padding-bottom: 0;
}

.modal-footer {
	margin-top: 0;
}

.dropdown-menu li a:hover {
	cursor: pointer;
}

.panel a:hover {
	cursor: pointer;
}

.demo .configurationly {
	filter: alpha(opacity = 0);
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	padding-left: 0px;
}

#elmBase {
	height: 1000px;
	display: list-item;
	overflow-y: auto;
	width: 209px;
	overflow-x: hidden;
	position: static;
}

.coverdiv {
	position: fixed;
	top: 100px;
	right: 0px;
	bottom: 0px;
	filter: alpha(opacity = 50);
	background-color: transparent;
	z-index: 1002;
	left: 0px;
	display: block;
	opacity: 0.5;
	-moz-opacity: 0.5;
}

.coverdivmove:hover {
	background-color: #F5F5F5;
	cursor: move;
}

.coverdivmove {
	display: block;
	text-align: right;
	position: absolute;
	background-color: transparent;
	z-index: 3000;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity = 50);
	cursor: move;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.sidebar-nav .dragbtn {
	display: none;
}

.devpreview .dragbtn {
	display: none !important;
}
.edit .demo .dragbtn {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 10;
}