* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-size: 14px;
}

.inner {
	position: relative;
	margin: 0 auto;
}

.dowebok-hd {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 64px;
	background: url(img/hd_bg.jpg) 0 0 repeat-x;
}

.dowebok-hd h1 {
	float: left;
	width: 150px;
	height: 35px;
	margin-top: 20px;
	margin-left: 17px;
}

.dowebok-hd h1 a {
	display: block;
	width: 150px;
	height: 35px;
	text-indent: -9999px;
	background-image: url(img/companyLogo.png);
    background-repeat: round;
}

.dowebok-hd .nav {
	float: right;
	list-style-type: none;
	margin-right: 150px;
}

.dowebok-hd .nav li {
	float: left;
	margin-left: 5px;
}

.dowebok-hd .nav a {
	float: left;
	padding: 0 10px;
	line-height: 64px;
	color: #333;
	text-decoration: none;
}

.dowebok-hd .nav a:hover {
	height: 62px;
	border-bottom: 2px solid #4cb803;
}

#dowebok {
	margin-top: 64px;
}

#dowebok .section {
	background: url(img/section_bg.jpg) 0 0 repeat-x;
}

#dowebok .inner {
	width: 960px;
	height: 100%;
}

/** section1 **/
#dowebok .section1 .txt {
	position: absolute;
	right: 0;
	top: 12%;
	width: 650px;
}

#dowebok .section1 h2 {
	margin-bottom: 10px;
	font-size: 5em
}

#dowebok .section1 h3 {
	margin-bottom: 10px;
	font-size: 3em
}

#dowebok .section1 p {
	padding: 20px 0;
	line-height: 30px;
	font-size: 16px;
}

#dowebok .section1 {
	background-color: #212121;
	background-image: none;
}

#dowebok .section1 .inner {
	left: 10%;
}

#dowebok .section1 .gojd {
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url(img/slider1_bg.png) 50% 0 no-repeat;
	background-size: cover;
	background-color: white;
}

/** section2 **/
#dowebok .section2 .inner {
	display: block;
	height: 100%;
	width: 100%;
	/*text-indent: -9999px;*/
	overflow: hidden;
	background: url(img/slider2_bg.png) 50% 0 no-repeat;
	background-size: cover;
	background-color: white;
}

/** section3 **/
#dowebok .section3 .txt {
	position: absolute;
	right: 0;
	top: 12%;
	width: 650px;
}

#dowebok .section3 h2 {
	margin-bottom: 10px;
	font-size: 5em
}

#dowebok .section3 h3 {
	margin-bottom: 10px;
	font-size: 3em
}

#dowebok .section3 p {
	padding: 10px 0;
	line-height: 30px;
	font-size: 16px;
}

#dowebok .section3 {
	background-color: #212121;
	background-image: none;
}

#dowebok .section3 .inner {
	top: 5%;
	left: 12%;
}

#dowebok .section3 .gojd {
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url(img/slider3_bg.png) 50% 0 no-repeat;
	background-size: cover;
	background-color: white;
}

/** section4 **/
#dowebok .section4 .inner {
	/*display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	overflow: hidden;
	background: url(img/slider4_bg.png) 50% 0 no-repeat;
	background-size: cover;
	background-color: white;
	margin-top: 7%;*/
}
.section4 .page-footer {
	bottom: 75%;
    position: relative;
    height:300px;
    width: 1322px;
    margin-left: 25%;
}

/** section5 **/
#dowebok .section5 .inner {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	overflow: hidden;
	background: url(img/slider5_bg.png) 50% 0 no-repeat;
	background-size: cover;
	background-color: #e7e7e7;
}

#dowebok .ft {
	position: absolute;
	left: 0;
	bottom: 64px;
	width: 960px;
	background-color: rgba(255, 255, 255, 0.7);
}

#dowebok .ft-link {
	padding: 10px 0;
	overflow: hidden;
	zoom: 1;
}

#dowebok .more-links {
	float: left;
	padding: 0 60px;
	border-right: 1px solid #e7e8e8;
}

#dowebok .ft-link .first {
	padding-left: 100px;
}

#dowebok .more-links h3 {
	font-size: 14px;
	color: #7d7d7d;
}

#dowebok .more-links ul {
	list-style-type: none;
}

#dowebok .more-links a {
	color: #676767;
	text-decoration: none;
}

#dowebok .service {
	float: right;
	padding-right: 100px;
	background: url(img/phone.png) 10px 10px no-repeat;
}

#dowebok .service ul {
	padding: 0 15px 0 56px;
	background-color: rgba(255, 255, 255, 0.5);
	list-style-type: none;
}

#dowebok .service .phone {
	padding: 7px 0 0 10px;
	border-left: 1px solid #fff;
	font-size: 22px;
}

#dowebok .service .time {
	border-left: 1px solid #fff;
	font-size: 16px;
	color: #adb0b4;
}

#dowebok .copy {
	height: 50px;
}

#dowebok .copy p {
	width: 100%;
	padding: 0;
	line-height: 18px;
	font-size: 12px;
	text-align: center;
	color: #a1a1a1;
}

#fp-nav span, .fp-slidesNav span {
	border: 1px solid #999;
}

#fp-nav li .active span, .fp-slidesNav.active span {
	background-color: #4ec200;
}

.section5 .page-footer {
	bottom: 40%;
	position: absolute;
    width: 50%;
    margin-left: 39%;
}

.section5 .line {
	width:75%;
	height:2px;
	margin:0px auto;
	padding:0px;
	background-color:#D5D5D5;
	overflow:hidden;
	margin-left: 21%;
}

.section5 .contactus {
	/* bottom: 30px; */
	position: absolute;
	font-size: 18px;
	margin-left: 21%;
}
.section5 .txt {
    text-indent: 63%;
    margin-top: 20%;
}
