﻿<div class="container-fluid" style="min-height: 1257px;">
		<div class="row-fluid">
			<div class="span12">
				<div class="breadcrumb">
					<span>
						<span class="icon-home"></span>
							<a ui-sref="dashboard">Home</a> 
						<span class="icon-angle-right"></span>
					</span>
					<span><a href="#">Account</a></span>
				</div>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<div class="container" style="line-height: 35px;"> 
		<div style="font-size: 14px;font-weight: bold;">现金金额：<span>10000</span></div>
		<!-- 已选项目grid 支持批量续费 导出续费清单 高级搜索  产品名称 - 产品到期时间 - 倒计时 - 自动续费/续费周期 - 操作（续费/修改自动续费） -->
		<div class="form-group">
			<label>已选购项目:</label>
	         <div ui-grid="prodGridOptions" class="grid" ></div>
        </div>
		<div style="display: none;">
			<a href="#">您还未选购产品，请点击此链接选购产品>></a>
		</div>
		<div class="box box-element" style="line-height: 23px;display: none;">
			<div class="view">
				<div class="tabbable" id="myTabs"> <!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab" contenteditable="false">充值</a></li>
						<li><a href="#tab2" data-toggle="tab" contenteditable="false">提现</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active view" id="tab1" style="margin: 30px;">
							<form class="form-horizontal">
								  <div class="form-group">
								    <label>充值金额：</label>
								    <div><input type="text" name="inputAmount" id="inputAmount" value="" class="form-control" style="width: 15% !important;"/>元</div>
								  </div>
								  <div class="form-group">
								  	<button type="button" class="btn btn-default" ng-click = "rechargeSubmit()">提交</button>
								  </div>
								  <div id="sHtmlText"></div>
								  <div class="form-group">
									<label>充值记录:</label>
							         <div ui-grid="rechargeGridOptions" class="grid" ></div>
								  </div>
								  <div class="modal-footer">
								  	  <p style="text-align: left;">温馨提示：手续费XXX，到账时间XX</p>
								  </div>
							 </form>
						</div>
						<div class="tab-pane view" id="tab2" style="margin: 30px;">
							  <div class="form-group">
							    <label>提现金额：</label>
							    <input type="text" name="inputWithdraw" id="inputWithdraw" value="" class="form-control" style="width: 15% !important;"/>元
							  </div>
							  <div class="form-group">
							  	<button type="button" class="btn btn-default">提交</button>
							  </div>
							  <div class="form-group">
								<label>提现记录:</label>
						         <div ui-grid="withdrawGridOptions" class="grid" ></div>
							  </div>	
							  <div class="modal-footer">
							  		<p style="text-align: left;">温馨提示：到账时间XXX</p>
							  </div>							  					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
