<div class="container-fluid" style="min-height: 1257px;">
			<div class="row-fluid">
				<div class="span12">
					<div class="breadcrumb">
						<span>
							<span class="icon-home"></span>
								<a ui-sref="dashboard">Home</a> 
							<span class="icon-angle-right"></span>
						</span>
						<span><a href="#">Attribute</a></span>
						<div class="pull-right">
							<div class="btn-group">
								<button class="btn btn-xs btn-primary"
									onclick="initModal()" data-target="#downloadModal_input" data-toggle="modal">
									<i class="glyphicon-share glyphicon"></i>{{"add_attr_page.add_attr" | translate}}
								</button>
							</div>
						</div>
					</div>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
	        <div class="row-fluid">
	            <div style="min-height: 650px;" class="demo ui-sortable">
                    <div class="modal fade" id="downloadModal_input" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							        	<div style="margin-top: -8px;margin-left: -4px;">&times;</div>
						        	</button>
							        <ul class="nav nav-tabs">
										<div id="baseLi" hidden="hidden">
											<li>
												<a href="" data-toggle="tab">
												</a>
											</li>
										</div>
										<li id="addTab">
											<select style="height: 42px;" ng-model="language" ng-options="item as item.name for item in languages" ng-change="addTabPane()">
												<option value="">-Please select-</option>
											</select>
										</li>
									</ul>
						      	</div>
								<div class="modal-body">
									<div class="tab-content" id="tabContent">
										<div id="baseTab">
											<div class="tab-pane" style="display: none;">
												<form class="form-horizontal" role="form">
													<div class="form-group">
														<label for="attrName" class="col-md-4 control-label">Attribute
															Name</label>
														<div class="col-md-6">
															<input type="text" class="form-control" name="attrName" oninput="setPreviewAttrName(this)"
																placeholder="widget name" aria-describedby="basic-addon1" />
														</div>
													</div>
													
													<div class="form-group">
														<label for="defaultVal" class="col-md-4 control-label">
															Default	value
														</label>
														<div class="col-md-6">
															<input type="text" name="defaultVal" oninput="setPreviewDefaultVal(this)"
																class="form-control"
																placeholder="default value" aria-describedby="basic-addon1" />
														</div>
													</div>
													
													<div class="form-group">
														<label for="defaultVal" class="col-md-4 control-label">
															Description
														</label>
														<div class="col-md-6">
															<input type="text" name="description" class="form-control" placeholder="description"
															aria-describedby="basic-addon1" />
														</div>
													</div>
				
												</form>
											</div>
										</div>
										<div id="baseTextarea" style="display: none;">
											<div class="form-group">
												<label for="selectVals" class="col-md-4 control-label">
													Select Values
												</label>
												<div class="col-md-6">
													<textarea rows="5" cols="27" name="selectVals" type="text" ng-keydown="addOption($event)"></textarea>
												</div>
											</div>
										</div>
									</div>
									<div style="margin-bottom: 40px;">
										<form class="form-horizontal" role="form">
											<div class="form-group">
												<label class="col-md-4 control-label">Required</label>
												<div class="col-md-8" style="padding-top: 8px;">
													<input type="checkbox" ng-model="widget.required" name="required"/>
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-4 control-label">Private</label>
												<div class="col-md-8" style="padding-top: 8px;">
													<input type="checkbox" ng-model="widget.private" name="private"/>	    
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-4 control-label">Widget type</label>
												<div class="col-md-8" style="padding-top: 8px;">
													<select ng-model="widgetType" ng-change="changeWidgetType()" ng-options="item.type as item.name for item in widgetTypes">
											        	<option></option>
											        </select>
												</div>
											</div>
										</form>
									</div>
									<div style="border:3px dashed silver;height: 500px;">
										<h3 id="preview_area">Preview</h3>
										<form class="form-horizontal" role="form">
											<div class="form-group">
												<label for="attrName" id="preAttrName" class="col-md-4 control-label">Attribute
													Name</label>
												<div class="col-md-6" id="preview">
													<input type="text" class="form-control" style="display: none;" id="preDefaultVal"
														placeholder="widget name" aria-describedby="basic-addon1" />
													<select style="display: none;margin-top: 7px;">
														<option value="">-Please select-</option>
													</select>
													<input type="date" class="form-control" style="display: none;"
														aria-describedby="basic-addon1" />
													<input type="checkbox" style="display: none;margin-top: 10px;"
														aria-describedby="basic-addon1" />
													<textarea rows="5" cols="27" style="display: none;margin-top: 10px;"
														aria-describedby="basic-addon1" />
												</div>
											</div>
											<div name="grid" id="gridWidget" style="display: none;">
												<div class="form-group">
													<div class="col-md-5">
													</div>
													<div class="col-md-4">
														<input ng-model="columnName" type="text" class="form-control pull-right"/>													
													</div>
													<div class="col-md-3">
														<button type="button" class="btn btn-primary pull-right active" style="margin-right: 20px;" aria-pressed="true" ng-click="addColunm()">Add column</button>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<div id="grid" class="grid"></div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveWidget()">save</button>
						        	<button type="button" class="btn btn-default" data-dismiss="modal" contenteditable="true">close</button>
						      	</div>
					  		</div>
						</div>
					</div>
	            	<div ui-grid="gridOptions" class="grid" ui-grid-edit="ui-grid-edit" ui-grid-row-edit="ui-grid-row-edit" ui-grid-cellNav="ui-grid-cellNav" >
					</div>
				</div>
				
            </div>
		</div>	       
