﻿<head>
<style type="text/css">
.selected-column {
	background-color: #333;
}
</style>
</head>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="breadcrumb">
				<span> <span class="icon-home"></span> <a ui-sref="dashboard">Home</a>
					<span class="icon-angle-right"></span>
				</span> <span><a href="#">Form</a></span>
				<div class="pull-right">

					<div class="btn-group" data-toggle="buttons-radio">
						<button type="button" id="edit" class="btn btn-xs btn-primary"
							ng-click="doSourceEdit()" sec:authorize="hasRole('ROLE_ADMIN')">
							<i class="glyphicon glyphicon-edit "></i>{{"caas_page.nav.header_menu.edit"
							| translate}}
						</button>
					</div>

					<div class="btn-group">
						<button type="button" class="btn btn-xs btn-primary"
							id="sourcepreview" ng-click="doSourcePreview()">
							<i class="glyphicon-eye-open glyphicon"></i>{{"caas_page.nav.header_menu.preview"
							| translate}}
						</button>
					</div>
					<div class="btn-group">
						<button class="btn btn-xs btn-primary" href="#clear" id="clear">
							<i class="glyphicon-trash glyphicon"></i>{{"caas_page.nav.header_menu.clear"
							| translate}}
						</button>
					</div>

					<div class="btn-group">
						<button class="btn btn-xs btn-primary" id="save"
							data-target="#formSaveEditorModal" data-toggle="modal">
							<i class="glyphicon-share glyphicon"></i>{{"caas_page.nav.header_menu.save"
							| translate}}
						</button>
					</div>

					<div class="btn-group">
						<button class="btn btn-xs btn-primary" id="mergeColumn"
							ng-click="mergeColunm()" data-toggle="modal">
							<i class="glyphicon-share glyphicon"></i>{{"caas_page.nav.header_menu.mergeColumn"
							| translate}}
						</button>
					</div>
				</div>
			</div>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<div class="commanddiv row clearfix">
		<div class="col-md-1">
			<label class="control-label">{{"caas_page.ctrl.command.title"
				| translate}}</label>
		</div>
		<div class="col-md-11">
			<div class="jumbotron well" command-group-box=""></div>
		</div>
	</div>
	<div class="commanddiv row clearfix" style="height: 30px;">
		<div class="col-md-1">
			<label class="control-label">{{"caas_page.ctrl.file_type" |
				translate}}</label>
		</div>
		<div class="col-md-11">
			<select ng-model="formType" ng-change="changeTemplate()">
				<option value="form_normal">Form Normal</option>
				<option value="profile">Profile</option>
				<option value="corporation">Corporation</option>
			</select>
		</div>
	</div>
	<div class="row-fluid">
		<div class="sidebar-nav page-container" style="margin-top: 15px;">
			<div class="page-sidebar nav-collapse collapsed">
				<!-- 布局信息 -->
				<ul class="page-sidebar-menu">
					<li class=""><a href="#"> <i class="icon-cogs"></i><span
							class="title">{{"caas_page.nav.left.layout.name" |
								translate}}</span> <span class="arrow "></span></a>
						<ul class="sub-menu">
							<caasLayoutWidget />
						</ul></li>
					<li class=""><a href="#"> <i class="icon-cogs"></i><span
							class="title">{{"caas_page.nav.left.attrs.name" |
								translate}}</span> <span class="arrow "></span></a>
						<ul class="sub-menu">
							<li class="boxes" id="elmBase"><label
								style="color: #f5f5f5;">Search: <input
									ng-model="searchText"
									style="width: 140px; margin-bottom: 10px; color: black;"></label>
								<div ng-repeat="item in items | filter:searchText">
									<widget-directive widget-options="item.widgetId"></widget-directive>
								</div></li>
						</ul></li>
					<li class=""><a href="#"> <i class="icon-cogs"></i><span
							class="title">{{"caas_page.nav.left.component.name" |
								translate}}</span> <span class="arrow "></span></a>
						<ul class="sub-menu">
							<li class="boxes mute" id="elmJS" style="display: list-item;">
								<div class="box box-element ui-draggable">
									<div class="preview drag">{{"caas_page.ctrl.folding.preview" |
										translate}}</div>
									<div class="view">
										<div class="accordion" id="myAccordion">
											<div class="accordion-group panel panel-default">
												<div class="accordion-heading panel-heading">
													<h4 class="panel-title">
														<span class="accordion-toggle"
															style="background-color: #F5F5F5; font-weight: bold;"
															data-toggle="collapse"> <i
															class="glyphicon glyphicon-plus pull-right"
															style="float: right;"></i>
														</span> <span contenteditable="true">{{"caas_page.ctrl.folding.name"
															| translate}} </span>
													</h4>
												</div>
												<div
													class="accordion-body ui-accordion-content collapse panel-collapse">
													<div class="accordion-inner panel-body">
														<div class="row-fluid clearfix">
															<div class="span12 column ui-sortable"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="box box-element">
									<div class="preview drag">tab</div>
									<div class="view">
										<div name="tabs">
											<ul>
												<li><span class="ui-icon ui-icon-plus" id="addTab"></span></li>
											</ul>
										</div>
									</div>
								</div>
								<div id="dialog" title="Tab data" hidden="hidden">
									<form>
										<fieldset class="ui-helper-reset">
											<label for="tab_title">Title</label> <input type="text"
												name="tab_title" id="tab_title" placeholder="Tab Title"
												class="ui-widget-content ui-corner-all" />
										</fieldset>
									</form>
								</div>
							</li>
						</ul></li>
				</ul>
			</div>
		</div>

		<!--拖拽内容区域 开始-->
		<div style="min-height: 590px;" ng-hide="dropArea" class="demo"
			form-template="" th:attr="form-id=${formId}"></div>
		<!--内容区域 结束-->
		<!-- 模板显示区域start -->
		<div style="min-height: 590px; margin-top: 10px;" ng-show="dropArea"
			id="inputArea"></div>
		<!-- 模板显示区域 end-->

		<div ng-show="false" id="formatSrc"></div>
		<div ng-show="false" id="srcHtml"></div>
	</div>
	<div class="modal fade" id="layoutEditorModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>

					<h3>{{"caas_page.ctrl.layoutEditorModal.preview" | translate}}</h3>
				</div>
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-md-8 ">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<label for="chkSeparatorbar" class="control-label">{{"caas_page.ctrl.layoutEditorModal.checkbox"
										| translate}}：</label> <input type="checkbox" name="chkSeparatorbar"
										id="chkSeparatorbar" />
								</div>
							</form>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-8 ">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<label for="titleName" class="control-label">{{"caas_page.ctrl.layoutEditorModal.titleName"
										| translate}}：</label> <input type="text" class="form-control"
										id="titleName" placeholder="Title" />
								</div>
							</form>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-8 ">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<label for="chkRequire" class="control-label">require：</label>
									<input type="checkbox" name="chkRequire" id="chkRequire" />
								</div>
							</form>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-8 ">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<label for="selectLineColor" class="control-label">{{"caas_page.ctrl.layoutEditorModal.color"
										| translate}}：</label> <select name="selectLineColor"
										id="selectLineColor">
										<option id="blue" value="blue">{{"caas_page.ctrl.layoutEditorModal.blue"
											| translate}}</option>
										<option id="gray" value="gray">{{"caas_page.ctrl.layoutEditorModal.gray"
											| translate}}</option>
									</select>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{"caas_page.ctrl.common.btn_close" | translate}}</button>
					<button type="button" class="btn btn-primary" id="saveSeparatorbar"
						data-dismiss="modal">{{"caas_page.ctrl.common.btn_save" |
						translate}}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	<div class="modal fade" id="formSaveEditorModal" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>

					<h3>{{"caas_page.ctrl.common.btn_save" | translate}}</h3>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row clearfix">
							<div class="col-md-12">
								<div class="row clearfix">
									<div class="col-md-6">
										<div class="checkbox">
											<label> <input type="radio" name="saveFormRadioGroup"
												id="saveUpdateFrom" checked="checked" />{{"caas_page.ctrl.saveEditorModal.updateForm"
												| translate}}
											</label> <label ng-show="false" id="currentFormName"></label> <label
												ng-show="false" id="currentFormId"></label>
										</div>
									</div>
									<div class="col-md-6"></div>
								</div>
								<div class="row clearfix">
									<div class="col-md-6">
										<div class="checkbox">
											<label> <input type="radio" name="saveFormRadioGroup"
												id="saveCreateFrom" />
												{{"caas_page.ctrl.saveEditorModal.newForm" | translate}}
											</label>
										</div>
									</div>
									<div class="col-md-6"></div>
								</div>
								<div class="row clearfix">
									<div class="col-sm-1 col-md-1"></div>
									<div class="col-sm-3 col-md-3">
										<label for="newFormName" class="control-label">{{"caas_page.ctrl.saveEditorModal.formName"
											| translate}}：</label>
									</div>
									<div class="col-sm-8 col-md-8">
										<input type="text" class="form-control" id="newFormName"
											placeholder="new Form Name" />
									</div>
								</div>

								<div class="row clearfix">
									<div class="col-md-6">&nbsp;</div>
									<div class="col-md-6"></div>
								</div>

								<!--<div class="row clearfix">
									<div class="col-sm-1 col-md-1"></div>
									<div class="col-sm-3 col-md-3">
										<label for="newFormName" class="control-label">类别：</label>
									</div>
									<div class="col-sm-8 col-md-8">
										<select ng-model="category.parent.selected"
											ng-change="categoryParentSelectChange()">
											<option value="">-- 请选择大分类 --</option>
											<option value="{{p.id}}" ng-repeat="p in category.parent.all">{{p.name}}</option>
										</select> <select ng-model="category.sub.selected">
											<option value="">-- 请选择小分类 --</option>
											<option value="{{p.id}}" ng-repeat="p in category.sub.select">{{p.name}}</option>
										</select>
									</div>
								</div>

								<div class="row clearfix">
									<div class="col-md-6">&nbsp;</div>
									<div class="col-md-6"></div>
								</div> -->

								<div class="row clearfix">
									<div class="col-md-6">&nbsp;</div>
									<div class="col-md-6"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{"caas_page.ctrl.common.btn_close" | translate}}</button>
					<button type="button" class="btn btn-primary" id="saveForm"
						data-dismiss="modal">{{"caas_page.ctrl.common.btn_save" |
						translate}}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
</div>
<link-search th:attr="id=${linkInfo.id}" />