
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB
			<h3 class="page-title">
				Dashboard <small>statistics and more</small>
			</h3>
			-->
			<div class="breadcrumb">
				<span><span class="icon-home"></span> <a href="index.html">Home</a>
					<span class="icon-angle-right"></span></span> <span><a href="#">Dashboard</a></span>
				<div class="pull-right">

					<div class="btn-group">
						<button type="button" id="edit" class="btn btn-xs btn-primary"
							ng-click="layoutEdit()" sec:authorize="hasRole('ROLE_ADMIN')"
							authorize-has-role="ROLE_ADMIN">
							<i class="glyphicon glyphicon-edit "></i>{{"main_page.ctrl.common.btn_edit"
							| translate}}
						</button>
					</div>

					<div class="btn-group">
						<button class="btn btn-xs btn-primary" id="save"
							ng-click="layoutSaveToDB()" sec:authorize="hasRole('ROLE_ADMIN')"
							authorize-has-role="ROLE_ADMIN">
							<i class="glyphicon glyphicon-floppy-saved"></i>{{"main_page.ctrl.common.btn_save"
							| translate}}
						</button>
					</div>

					<div class="btn-group">
						<button class="btn btn-xs btn-primary" href="#" id="undo"
							ng-click="layoutReload()">
							<i class="glyphicon glyphicon-repeat"></i>{{"main_page.ctrl.common.btn_cancel"
							| translate}}
						</button>
					</div>

					<!-- 
					<div class="btn-group">
						<ul class="nav" id="language_menu-layoutit">
							<li class="divider-vertical"></li>
							<li><span class="btn-group"> <a
									class="btn btn-xs btn-primary" data-toggle="dropdown" href="#"><i
										class="glyphicon glyphicon-globe"></i><span>{{"language_menu.switch"
											| translate}}</span> <span class="caret"></span> </a>
									<ul class="dropdown-menu">
										<li class=""><a href="#" id="language_en" rel="">{{"language_menu.lang_en"
												| translate}}</a></li>
										<li class=""><a href="#" id="language_zh" rel="">{{"language_menu.lang_zh"
												| translate}}</a></li>
									</ul>
							</span></li>
						</ul>
					</div>	
					 -->
				</div>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<!-- 页面左侧导航信息 -->
		<div class="leftmenu row-fluid">

			<div class="sidebar-nav page-container" style="margin-top: 15px;">
				<div class="page-sidebar nav-collapse collapsed">
					<ul class="page-sidebar-menu">
						<li class=""><a href="#"> <i class="icon-th-large"></i><span
								class="title">{{"main_page.nav.left.layout.name" |
									translate}}</span> <span class="arrow "></span></a>

							<ul class="sub-menu">
								<homeLayoutWidget />
							</ul></li>

						<li class=""><a href="#"> <i class="icon-cogs"></i><span
								class="title">{{"main_page.nav.left.component.name" |
									translate}}</span> <span class="arrow "></span></a>

							<ul class="sub-menu">
								<homeCustomWidget />
							</ul></li>
					</ul>
				</div>
			</div>

			<div ng-show="false" id="formatSrc"></div>
		</div>

		<!-- 编辑用布局信息 -->
		<div style="min-height: 590px;" ng-hide="dropArea"
			class="demo ui-sortable" formTemplate=""></div>

		<div class="modal fade" id="editorModal" tabindex="-1" role="dialog"
			aria-labelledby="modalTitleLabel" aria-hidden="true">
			<input type="hidden" value="" class="tmpValue" />
			<div class="modal-dialog">
				<div class="modal-content" style="width: 1000px">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true"></button>
						<h3 class="modal-title" id="modalTitleLabel">{{"main_page.ctrl.product_list.attribute_modification_history"
							| translate}}</h3>
					</div>

					<div class="modal-body" style="height: 830px">
						<div class="updateHistoryGrid" style="height: 800px"
							ui-grid="updateHistoryGridOptions" ui-grid-auto-resize></div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							aria-hidden="true" id="closeModal">{{"main_page.ctrl.common.btn_close"
							| translate}}</button>
					</div>

				</div>
			</div>
		</div>
	</div>