﻿<div class="container-fluid" style="min-height: 1257px;">
			<div class="row-fluid">
				<div class="span12">
					<div class="breadcrumb">
						<span>
							<span class="icon-home"></span>
								<a ui-sref="dashboard">Home</a> 
							<span class="icon-angle-right"></span>
						</span>
						<span><a href="#">Data Management</a><span class="icon-angle-right"></span></span>
						<span><a href="#">Data Export</a></span>
						<div class="pull-right">
							<div class="btn-group">
								<button class="btn btn-xs btn-primary" id="exportXML">
									<i class="glyphicon-share glyphicon"></i>{{"data_manage_page.export_file.file_save_btn" | translate}}
								</button>
							</div>
						</div>
						<div class="pull-right" id="menu-layoutit" style="display: none"> 
							<div class="btn-group">
								<button class="btn btn-xs btn-primary" data-toggle="dropdown" href="#">
									<i class="glyphicon glyphicon-th-list"></i>组织机构选择<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" id="corpListMenuId" style="height: 333px; overflow: scroll;left: -70px">
								</ul>
							</div>
						</div>	
					</div>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>    
	    	<div class="row-fluid">
			  	<div class="form-group">	
			  		<form id= "uploadForm">
			    		<!-- <label>File input</label> -->
				       	<input id="file" type="file"  name="file" />
			    		<p class="help-block" id="help_block">{{"data_manage_page.export_file.file_tip" | translate}}</p>
			    		<button id="buttonUpload" ng-click="doUpload()">{{"data_manage_page.export_file.file_upload_btn" | translate}}</button>
			    	</form>
			  	</div> 
		  	</div>
			<div class="box box-element">
				<div class="view">
					<div class="tabbable" id="myTabs"> <!-- Only required for left/right tabs -->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab1" data-toggle="tab">属性关联</a></li>
							<li><a href="#tab2" data-toggle="tab">源文件</a></li>
							<li><a href="#tab3" data-toggle="tab">导出XML</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								<div class="row-fluid">
								    <div ui-grid="xmlGridOptions" ui-grid-tree-view="ui-grid-tree-view" class="grid"></div>
							    </div>
							</div>
							<div class="tab-pane" id="tab2">
								<div>
									<xmp id="baseXmlLayout"></xmp>
								</div>
							</div>
							<div class="tab-pane" id="tab3">
								<div>
									<xmp id="xmlLayout"></xmp>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
		<div class="modal fade" id="formAttrsChooseResultModal" tabindex="-1"
		         role="dialog" aria-hidden="true" style="padding-top: 2%;">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <h3>{{"data_manage_page.export_file.alies_attr_choose_tip" | translate}}</h3>
		                </div>
		                <form role="form" name="myForm" class="form-horizontal" novalidate="novalidate">
			                <div  class="modal-body">
			                	<div class="form-group">
				                	<label class="control-label col-md-4">{{"data_manage_page.export_file.alies_attr_attr_more" | translate}}：</label>
				                	<div class="col-md-6">
										<input type="text" name="searchSugges" id="searchSugges" onkeyup="searchSuggest(this);" class="form-control col-md-8" value="" placeholder="input..."/> 
									</div>
			                	</div>
								<div style="border:3px dashed silver;" id="aliesAttrsDiv">
									<h3>{{"data_manage_page.export_file.alies_attr_area_title" | translate}}：</h3>
									<div> 
										<div class = "form-group">
											<label class="control-label col-md-3"><span id="nodeName">value</span>:</label>
											<div class="col-md-9">
												<input type="text" name="code" id="code" onchange="clearOthers('code');"  class="form-control" value="" placeholder="input..."/> 
											</div>
										</div>
										<div class = "form-group">
											<label class="control-label col-md-3">or:</label>
											<div class="col-md-9" style="margin-top: 8px;">
												<input type="checkbox" name="root"  id="root" onchange="clearOthers('root');"  value=""/> 	 
											</div>
										</div>
										<div class = "form-group">
											<label class="control-label col-md-3">or:</label>
 											<div class="col-md-7">
												<input type="text" name="uuid"  id="uuid" class="form-control" value="" placeholder="uuid..." readonly="readonly"/> 	 
											</div>
											<div class="col-md-2">
												<button type="button" class="btn btn-default" ng-click="getUUIDEvent()">生成</button>			
 											</div>
 										</div>										
										<div class = "form-group">
											<label class="control-label col-md-3">or:</label>
											<div class="col-md-9" style="margin-top: 6px;">
												<input name="aliesAttrVersion"  id="aliesAttrVersion" onchange="clearOthers('aliesAttrVersion');"   value="0"/> 									
											</div>
										</div>
									</div>
									<div id="aliesAttrs"></div>
									<div style="text-align: center;margin-bottom: 10px;"><button type="button" name="addmore" id="addmore" class="btn btn-default" style="display:none;">加载更多</button></div>
								</div>	
			                </div>
			                <div class="modal-footer">
								<input type="button" id="aliesCloseBtn" value="{{'data_manage_page.export_file.alies_attr_choose_btn' | translate}}" ng-click="associatedAttr('1')" class="btn btn-primary" data-dismiss="modal" />			                    
			                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"data_manage_page.export_file.alies_attr_close_btn" | translate}}
			                    </button>
			                </div>
		                </form>	    
		            </div>
	            <!-- /.modal-content -->
	        </div>
	    </div>
		<div class="modal fade" id="formPostResultModal" tabindex="-1"
		         role="dialog" aria-hidden="true" style="padding-top: 2%;">
		        <div class="modal-dialog">
		            <div class="modal-content">
		            	<form class="form-horizontal" role="form">
			                <div class="modal-header">
			                    <h3 id="post_result"></h3>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"data_manage_page.export_file.alies_attr_close_btn" | translate}}
			                    </button>
			                </div>
		                </form>
		            </div>
	            <!-- /.modal-content -->
	        </div>
	    </div>	
	    <!-- tip -->
		<div class="modal fade" id="formTipResultModal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 2%;">
	        <div class="modal-dialog">
	            <div class="modal-content">
	            	<form class="form-horizontal" role="form">
						<div class="modal-header">
					        <h4 class="modal-title">{{"data_manage_page.export_file.file_attr_detail_title" | translate}}</h4>
				      	</div>
		                <div  class="modal-body">
							<div class="form-group" id="inputFirst">
							      <label class="col-md-2 control-label">{{"data_manage_page.export_file.file_attr_detail_path" | translate}}：</label>
							      <div class="col-md-10">
							         <label class="control-label" id="pathLabel"></label>
							      </div>
							</div>
						    <div class="form-group">
							      <label class="col-md-2 control-label">{{"data_manage_page.export_file.file_attr_detail_mark" | translate}}：</label>
							      <div class="col-md-10">
							         <textarea id="markLabel"  rows="4" cols="8" class="form-control" placeholder="Mark.." style="width: 100%;"></textarea>
							      </div>
						    </div>
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveMark()">{{"data_manage_page.export_file.file_save_btn" | translate}}
		                    </button>			                
		                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"data_manage_page.export_file.alies_attr_close_btn" | translate}}
		                    </button>
		                </div>
	                </form>
	            </div>
	            <!-- /.modal-content -->
	        </div>
	    </div>	
	    <!-- export XML result -->
		<div class="modal fade" id="formExportResultModal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 2%;">
	        <div class="modal-dialog">
	            <div class="modal-content">
	            	<form class="form-horizontal" role="form">
						<div class="modal-header">
					        <h4 class="modal-title"><span id="exportResult">导出成功！</span></h4>
				      	</div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"data_manage_page.export_file.alies_attr_close_btn" | translate}}
		                    </button>
		                </div>
	                </form>
	            </div>
	            <!-- /.modal-content -->
	        </div>
	    </div>	    
	    <!-- grid属性选择弹窗 -->
		<div class="modal fade" id="gridAliesAttrDialogModal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 2%;">
	        <div class="modal-dialog">
	            <div class="modal-content">
	            	<form class="form-horizontal" role="form">
						<div class="modal-header">
					        <h4 class="modal-title">{{"data_manage_page.export_file.file_attr_grid_culmn_title" | translate}}</h4>
				      	</div>
		                <div  class="modal-body">
							<div style="border:3px dashed silver;">
								<div id="aliesGridAttrCulum" style="margin-top: 15px;"></div>
							</div>	
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="associatedAttr('2')">{{"data_manage_page.export_file.alies_attr_choose_btn" | translate}}</button>
		                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"data_manage_page.export_file.alies_attr_close_btn" | translate}}
		                    </button>
		                </div>
	                </form>
	            </div>
	            <!-- /.modal-content -->
	        </div>
	    </div>	    
</div>  
		<input type="hidden" id="formTipResultModalhh"  data-target="#formTipResultModal" data-toggle="modal"/> 
	    <input type="hidden" id="formPostResultModalhh"  data-target="#formPostResultModal" data-toggle="modal"/>  
	    <input type="hidden" id="formAttrsChooseModalhh" data-target="#formAttrsChooseResultModal" data-toggle="modal"/>
	    <input type="hidden" id="formExportResultModalhh" data-target="#formExportResultModal" data-toggle="modal"/>
	    <input type="hidden" id="gridAliesAttrDialogModalhh" data-target="#gridAliesAttrDialogModal" data-toggle="modal"/>
	    <input type="hidden" id="focusKey" value=""/>
	    <input type="hidden" id="focusValue" value=""/>
	    <input type="hidden" id="focusType" value=""/>
	    <input type="hidden" id="focusCellValue" value=""/>
