
<div class="demo container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB
			<h3 class="page-title">
				Dashboard <small>描述...</small>
			</h3>
			-->
			<div class="breadcrumb">
				<span> <span class="icon-home"></span> <a ui-sref="dashboard">Home</a>
					<span class="icon-angle-right"></span>
				</span> <span><a href="#">Dashboard</a></span>
				<div class="pull-right">

					<div class="mapping-templete btn-group">
						<button data-toggle="dropdown" href="#"
							class="btn btn-xs btn-primary" id="mappingTempleteMenu">
							<i class="glyphicon glyphicon-tasks"></i>{{"product_page.nav.header_menu.mapping_templete_list"
							| translate}}<span class="caret"></span>
						</button>
						<ul class="mapping-templete-items dropdown-menu"
							mapping-templete-items=""
							style="height: 400px; overflow: scroll; left: -100px">
						</ul>
					</div>

					<div class="btn-group">
						<button class="create btn btn-xs btn-primary">
							<i class="glyphicon glyphicon-plus"></i>{{"main_page.ctrl.common.btn_create"
							| translate}}
						</button>
						<button class="issued btn btn-xs btn-primary" href="#">
							<i class="glyphicon glyphicon-bullhorn"></i>{{"main_page.ctrl.common.btn_issued"
							| translate}}
						</button>
					</div>
				</div>
			</div>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>

	<div ui-grid="dataGridOptions" class="grid" ui-grid-selection
		ui-grid-auto-resize></div>

	<div class="modal fade" id="editorModal" tabindex="-1" role="dialog"
		aria-labelledby="modalTitleLabel" aria-hidden="true">
		<input type="hidden" value="" class="tmpValue" />
		<div class="modal-dialog">
			<div class="modal-content" style="width: 1000px">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true"></button>
					<h3 class="modal-title" id="modalTitleLabel">{{"main_page.ctrl.product_list.attribute_modification_history"
						| translate}}</h3>
				</div>

				<div class="modal-body" style="height: 830px">
					<div class="updateHistoryGrid" style="height: 800px"
						ui-grid="updateHistoryGridOptions" ui-grid-auto-resize
						ui-grid-selection></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						aria-hidden="true" id="closeModal">{{"main_page.ctrl.common.btn_close"
						| translate}}</button>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="resultModal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal"></a>
					<h3>{{"data_grid_common_page.result_modal.title" | translate}}</h3>
				</div>
				<div class="modal-body">
					<h3 class="result-msg" style="font-size: x-large;"></h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{"product_page.ctrl.common.btn_close" | translate}}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
</div>