﻿<div class="container-fluid" style="min-height: 1257px;">
			<div class="row-fluid">
				<div class="span12">
					<div class="breadcrumb">
						<span>
							<span class="icon-home"></span>
								<a ui-sref="dashboard">Home</a> 
							<span class="icon-angle-right"></span>
						</span>
						<span><a href="#">Data Management</a><span class="icon-angle-right"></span></span>
						<span><a href="#">Data Comparison</a></span>
						<div class="pull-right">
							<div class="btn-group">
								<button class="btn btn-xs btn-primary" id="exportXML">
									<i class="glyphicon-share glyphicon"></i>保存
								</button>
							</div>
							<div class="btn-group">
								<button class="btn btn-xs btn-primary" ng-click="rebuildAttrsJson()">
									<i class="glyphicon-share glyphicon"></i>测试数据结构
								</button>
							</div>
						</div>
					</div>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>  
			<div class="box box-element">
				<div class="view">
					<div class="tabbable" id="myTabs"> <!-- Only required for left/right tabs -->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab1" data-toggle="tab">数据比较</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								<div class="row-fluid">
								    <div ui-grid="importGridOptions" ui-grid-tree-view="ui-grid-tree-view" class="grid"></div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="modal fade" id="formPostResultModal" tabindex="-1"
		         role="dialog" aria-hidden="true" style="padding-top: 2%;">
		        <div class="modal-dialog">
		            <div class="modal-content">
		            	<form class="form-horizontal" role="form">
			                <div class="modal-header">
			                    <h3 id="post_result"></h3>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"data_manage_page.export_file.alies_attr_close_btn" | translate}}
			                    </button>
			                </div>
		                </form>
		            </div>
	            <!-- /.modal-content -->
	        </div>
	    </div>	
		<div class="modal fade" id="aliesProductChooseModal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 2%;">
		        <div class="modal-dialog">
		            <div class="modal-content">
		            	<form class="form-horizontal" role="form">
			                <div class="modal-header">
			                    <!-- <div ui-grid="aliesProductGridOptions" class="grid"></div> -->
			                    	关联产品选择
			                </div>
			                <div  class="modal-body">
								<div style="border:3px dashed silver;">
									<div id="aliesProductList" style="margin-top: 15px;"></div>
								</div>	
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="aliseProductCom()">确认</button>
			                    <button type="button" class="btn btn-default" data-dismiss="modal">{{"data_manage_page.export_file.alies_attr_close_btn" | translate}}
			                    </button>
			                </div>
		                </form>
		            </div>
	            <!-- /.modal-content -->
	        </div>
	    </div>	
</div>  
	    <input type="hidden" id="aliesProductChooseModalhh" data-target="#aliesProductChooseModal" data-toggle="modal"/>
	    <input type="hidden" id="jsonIndex"/>
	    <input type="hidden" id="productIndex"/>
