<head>
   <meta charset="UTF-8">
</head>
<div>
	<div style="text-align: center;">Copyright 2016-2020 , All Rights Reserved. 信生科技（大连）有限公司 版权所有</div>
	<div class="footer-tools">
		<span class="go-top"> <i class="icon-angle-up"></i>
		</span>
	</div>
</div>