<div>
	<head>
<meta charset="UTF-8">
	</head>
	<div class="navbar navbar-inverse navbar-fixed-top navbar-layoutit">
		<div class="navbar-header">
			<ul class="nav nav-pills" id="menu-layoutit">
				<li sec:authorize="hasRole('ROLE_ADMIN')"
				authorize-has-role="ROLE_ADMIN"><span class="btn-group"> <a data-toggle="dropdown" href="#"><span><img src="styles/img/favicon.png" /></span></a>
						<ul class="dropdown-menu">
							<li class=""><a ui-sref="addAttr" id="dropdownMenuAdd"
								rel="">{{"main_page.nav.header_menu.add_ctrl" | translate}}</a></li>
							<li class=""><a ui-sref="caas({formId:'', searchId:''})"
								id="dropdownMenuCaas" rel="">{{"main_page.nav.header_menu.edit_tool"
									| translate}}</a></li>
							<li class=""><a ui-sref="product({formId:'', searchId:''})"
								id="dropdownMenuProduct" rel="">{{"main_page.nav.header_menu.product"
									| translate}}</a></li>
							<li class=""><a ui-sref="#"
								id="dropdownMenuUser" rel="">{{"main_page.nav.header_menu.user"
									| translate}}</a></li>	
							<li class=""><a ui-sref="#"
								id="dropdownMenuAccount" rel="">{{"main_page.nav.header_menu.account"
									| translate}}</a></li>										
						</ul>
				</span></li>
				<li><a class="navbar-brand" ui-sref="dashboard"
					style="height: 20px">{{"main_page.name" | translate}}</a></li>
			</ul>
		</div>	
	</div>
</div>