
<div class="navbar navbar-inverse navbar-fixed-top navbar-layoutit">
	<div class="navbar-header">
		<a class="navbar-brand" href="#" style="height: 20px"><img src="styles/img/favicon.png">主页</a>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav" id="menu-layoutit">
			<li class="divider-vertical"></li>
			<li><span class="btn-group"> <a
					class="btn btn-xs btn-primary" data-toggle="dropdown"
					href="#"><span>导航菜单</span> <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li class=""><a href="/add" id="dropdownMenuAdd" rel="">添加控件页面</a></li>
						<li class=""><a href="/caas" id="dropdownMenuCaas" rel="">设计工具页面</a></li>
					</ul>
			</span></li>
		</ul>
		<ul class="nav" id="menu-layoutit">
			<li class="divider-vertical"></li>
			<li><span class="btn-group"> <a
					class="btn btn-xs btn-primary" data-toggle="dropdown"
					href="#"><span>语言切换</span> <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li class=""><a href="#" id="language_en" rel="">英语</a></li>
						<li class=""><a href="#" id="language_zh" rel="">中文</a></li>
					</ul>
			</span></li>
		</ul>
		<ul class="nav pull-right">
			<li>
				<div class="btn-group">
					<button type="button" id="edit"
						class="active btn btn-xs btn-primary" ng-click="layoutEdit()">
						<i class="glyphicon glyphicon-edit "></i>编辑
					</button>
					<button class="btn btn-xs btn-primary" id="save"
						ng-click="layoutSaveToDB()">
						<i class="glyphicon-share glyphicon"></i>保存
					</button>
					<button class="btn btn-xs btn-primary" href="#" id="undo"
						ng-click="layoutReload()">
						<i class="glyphicon-trash glyphicon"></i>取消
					</button>
				</div>
			</li>
		</ul>
	</div>
</div>