﻿<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="breadcrumb" style="z-index:2001">
				<span><span class="icon-home"></span> <a ui-sref="dashboard">Home</a> <span
					class="icon-angle-right"></span></span>
				<span><a href="#">Product</a></span>
				<div class="pull-right" id="menu-layoutit">
					<div class="btn-group">
						<button class="btn btn-xs btn-primary" id="save"
							data-target="#formSaveEditorModal" data-toggle="modal">
							<i class="glyphicon-share glyphicon"></i>{{"product_page.nav.header_menu.save"
							| translate}}
						</button>
					</div>
				</div>
				<div class="pull-right" id="menu-layoutit">
					<div class="btn-group">
						<button class="btn btn-xs btn-primary" data-toggle="dropdown"
							href="#">
							<i class="glyphicon glyphicon-th-list"></i>{{"product_page.nav.header_menu.templete_list"
							| translate}}<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" id="tempListMenuId"
							style="height: 333px; overflow: scroll;left: -70px">
						</ul>
					</div>
				</div>				
				<div class="pull-right" id="menu-layoutit">
					<div class="btn-group">
						<button data-toggle="dropdown" href="#"
							class="btn btn-xs btn-primary" id="commandMenu">
							<i class="glyphicon glyphicon-tasks"></i>{{"product_page.nav.header_menu.command_list"
							| translate}}<span class="caret"></span>
						</button>
						<ul class="command-items dropdown-menu">
						</ul>
					</div>
				</div>
			</div>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<div class="row-fluid">
		<!--拖拽内容区域 开始-->
		<div style="min-height: 590px;" ng-hide="dropArea" class="demo"
			product-template="" th:attr="form-id=${formId}"></div>
		<!--内容区域 结束-->
		<div id="coverdiv" class="coverdiv"></div>
	</div>
	<div class="modal fade" id="formSaveEditorModal" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>{{"product_page.ctrl.common.content_save" | translate}}</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{"product_page.ctrl.common.btn_no" | translate}}</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						id="saveForm">{{"product_page.ctrl.common.btn_yes" |
						translate}}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	<div class="modal fade" id="formSaveEditorResultModal" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>{{"product_page.ctrl.common.content_save_success" |
						translate}}</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{"product_page.ctrl.common.btn_close" | translate}}</button>
					<!-- 
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ui-sref="dataGridCommon({request:'product/getProductLinkItemInfo/0', url:'product'})" >exit
                    </button>
                     -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	<div class="modal fade" id="formReSaveEditorResultModal" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>{{"product_page.ctrl.common.content_resave" | translate}}</h3>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div ui-grid="mcGridOptions" class="grid"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						id="productCoverSave">
						{{"product_page.ctrl.common.btn_cover_save" | translate}}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{{"product_page.ctrl.common.btn_close"
						| translate}}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	<input type="hidden" id="formSaveEditorResultModalhh"
		data-target="#formSaveEditorResultModal" data-toggle="modal" /> <input
		type="hidden" id="formReSaveEditorResultModalhh"
		data-target="#formReSaveEditorResultModal" data-toggle="modal" />

	<div class="modal fade" id="imgEdit" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>

					<h3>{{"caas_page.ctrl.common.btn_save" | translate}}</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div ng-repeat="attr in imgAttr">
							<widget-directive widget-options="attr.widgetId"></widget-directive>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{"caas_page.ctrl.common.btn_close" | translate}}</button>
					<button type="button" class="btn btn-primary"
						ng-click="saveImgAttr()" data-dismiss="modal">{{"caas_page.ctrl.common.btn_save"
						| translate}}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>

	<div class="modal fade" id="issuedEdit" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">
						{{"product_page.ctrl.issued.title" | translate}}</h4>
				</div>

				<div class="modal-body">
					<div class="container">
						<div class="row clearfix">
							<div class="col-md-3">{{"product_page.ctrl.issued.title_distributor"
								| translate}}</div>
							<div class="col-md-9">
								<div class="distributor-items jumbotron well"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						ng-click="saveIssuedInfo()">{{"product_page.ctrl.common.btn_save"
						| translate}}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>