﻿
<div class="container-fluid" style="min-height: 1250px">
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<div class="breadcrumb">
				<span><span class="icon-home"></span> <a href="index.html">Home</a>
				<span class="icon-angle-right"></span></span> <span><a href="#">Profile</a></span>
				<div class="pull-right">
					<div class="btn-group">
						<button class="btn btn-xs btn-primary" id="save" ng-click="save($event)">
							<i class="glyphicon-share glyphicon"></i>{{"profile_page.save" | translate}}
						</button>
					</div>
				</div>
			</div>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>

	<div class="row-fluid profile" style="min-height: 590px;">
		<div class="span12">
			<!--BEGIN TABS-->
			<div class="tabbable tabbable-custom tabbable-full-width">
				<ul class="nav nav-tabs" name="title_tab">
					<li><a href="#tab_1_1" data-toggle="tab">Overview</a></li>
					<li id="profile"><a href="#tab_1_2" data-toggle="tab">Profile Info</a></li>
					<li id="corporation"><a href="#tab_1_3" data-toggle="tab">Corporation</a></li>
					<li><a href="#tab_1_4" data-toggle="tab">Account</a></li>
					<li class="active"><a href="#tab_1_4" data-toggle="tab">Tika
							演示</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane row-fluid" id="tab_1_1"></div>
					<div class="tab-pane row-fluid" id="tab_1_2">
						<formtempl option="profile" />
					</div>
					<div class="tab-pane row-fluid" id="tab_1_3">
						<formtempl option="corporation" />
					</div>
					<div class="tab-pane row-fluid active" id="tab_1_4">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-2">
										<button type="button" class="btn btn-default pull-left"
											ng-click="getXmlPageInfo()">Test</button>
									</div>
									<div class="col-md-10">
										<input type="text" class="form-control" id="inputFileId"
											value="a0d187e294f30ef7ed3582437b2d4cb9" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">&nbsp;</div>
								</div>
								<div class="row">
									<div class="col-md-1">
										<button type="button" class="btn btn-default btn-block"
											title="Previous Page" ng-click="getPreviousXmlPageInfo()">&lt;</button>
									</div>
									<div class="col-md-5">
										<div class="upload-xml jumbotron"
											style="overflow: scroll; height: 700px">&nbsp;</div>
									</div>
									<div class="col-md-5">
										<div class="db-data jumbotron"
											style="overflow: scroll; height: 700px">&nbsp;</div>
									</div>
									<div class="col-md-1">
										<button type="button" class="btn btn-default btn-block"
											title="Next Page" ng-click="getNextXmlPageInfo()">&gt;</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--END TABS-->
		</div>
	</div>
</div>
