<div>
	<head>
    <meta charset="UTF-8">
	</head>
	<div class="sidebar-nav">
		<ul class="nav nav-list accordion-group">
		    <li class="nav-header">
		        <div class="pull-right popover-info"><i class="icon-question-sign "></i>
		            <div class="popover fade right">
		                <div class="arrow"></div>
		                <h3 class="popover-title">功能</h3>
		                <div class="popover-content">在这里设置你的栅格布局, 栅格总数默认为12, 用空格分割每列的栅格值, 如果您需要了解更多信息，请访问<a target="_blank" href="http://twitter.github.io/bootstrap/scaffolding.html#gridSystem">Bootstrap栅格系统.</a></div>
		            </div>
		        </div>
		        <i class="icon-plus icon-white"></i> 布局设置
		    </li>
		    <li style="display: list-item;" class="rows" id="estRows">
		<div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
		    <div class="preview">
		        <input value="12" type="text">
		    </div>
		    <div class="view">
		        <div class="row-fluid clearfix">
		            <div class="span12 column"></div>
		        </div>
		    </div>
		</div>
		<div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
		    <div class="preview">
		        <input value="6 6" type="text">
		    </div>
		    <div class="view">
		        <div class="row-fluid clearfix">
		            <div class="span6 column"></div>
		            <div class="span6 column"></div>
		        </div>
		    </div>
		</div>
		<div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
		    <div class="preview">
		        <input value="8 4" type="text">
		    </div>
		    <div class="view">
		        <div class="row-fluid clearfix">
		            <div class="span8 column"></div>
		            <div class="span4 column"></div>
		        </div>
		    </div>
		</div>
		<div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
		    <div class="preview">
		        <input value="4 4 4" type="text">
		    </div>
		    <div class="view">
		        <div class="row-fluid clearfix">
		            <div class="span4 column"></div>
		            <div class="span4 column"></div>
		            <div class="span4 column"></div>
		        </div>
		    </div>
		</div>
		<div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
		    <div class="preview">
		        <input value="2 6 4" type="text">
		    </div>
		    <div class="view">
		        <div class="row-fluid clearfix">
		            <div class="span2 column"></div>
		            <div class="span6 column"></div>
		            <div class="span4 column"></div>
		        </div>
		    </div>
		</div>
		<div class="lyrow ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a>
		    <span class="drag label display-none ui-draggable-handle" style="display: none;"><i class="icon-move"></i>拖动</span>
		            <div class="preview">
		                <input value placeholder="Enter your own" type="text">
		            </div>
		            <div class="view">
		                <div class="row-fluid clearfix">
		                </div>
		            </div>
		        </div>
		    </li>
		</ul>
		<ul class="nav nav-list accordion-group">
		    <li class="nav-header"><i class="icon-plus icon-white"></i> 组件
		        <div class="pull-right popover-info"><i class="icon-question-sign "></i>
		            <div class="popover fade right">
		                <div class="arrow"></div>
		                <h3 class="popover-title">帮助</h3>
		                <div class="popover-content">拖放组件到布局框内. 拖入后你可以设置组件样式. 查看这里获取更多帮助 <a target="_blank" href="http://twitter.github.io/bootstrap/components.html">Components.</a></div>
		            </div>
		        </div>
		    </li>
		    <li style="display: none;" class="boxes" id="elmComponents">
		<div class="box box-element ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span> <span class="configuration"> <span class="btn-group"> <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">方向<span class="caret"></span></a>
		    <ul class="dropdown-menu">
		        <li class="active"><a href="#" rel="">横向</a></li>
		        <li class=""><a href="#" rel="btn-group-vertical">竖向</a></li>
		    </ul>
		    </span>
		    </span>
		    <div class="preview">按钮组</div>
		    <div class="view">
		        <div class="btn-group">
		            <button class="btn" type="button"><i class="icon-align-left"></i></button>
		            <button class="btn" type="button"><i class="icon-align-center"></i></button>
		            <button class="btn" type="button"><i class="icon-align-right"></i></button>
		            <button class="btn" type="button"><i class="icon-align-justify"></i></button>
		        </div>
		    </div>
		</div>
		<div class="box box-element ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span> <span class="configuration"><button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">编辑</button> <a class="btn btn-mini" href="#" rel="dropup">上拉</a> </span>
		    <div class="preview">下拉菜单</div>
		    <div class="view">
		        <div class="btn-group">
		            <button class="btn" contenteditable="true">Action</button>
		            <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
		            <ul class="dropdown-menu" contenteditable="true">
		                <li><a href="#">操作</a></li>
		                <li><a href="#">设置栏目</a></li>
		                <li><a href="#">更多设置</a></li>
		                <li class="divider"></li>
		                <li class="dropdown-submenu"> <a tabindex="-1" href="#">更多选项</a>
		                    <ul class="dropdown-menu">
		                        <li><a href="#">操作</a></li>
		                        <li><a href="#">设置栏目</a></li>
		                        <li><a href="#">更多设置</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
		<div class="box box-element ui-draggable"> <a href="#close" class="remove label label-important"><i class="icon-remove icon-white" onclick="deleteItem()"></i>删除</a> <span class="drag label"><i class="icon-move"></i>拖动</span>
		            <div class="preview">文本框</div>
		            <div class="view">
		                <div class="form-horizontal">
		                     <div class="form-group">
		                         <input type="text" required placeholder="标签名称"/>
		                             <input class="form-control" type="text" 
		                                placeholder="请输入...">
		                       </div>
		
		                  </div>
		            </div>
		        </div>
		    </li>
		</ul>
	</div>
</div>