<div class="box box-element ui-draggable">
	<div ng-if="ctrl.options.isForm == 'form'">
		<a href="#close" class="remove label label-danger"><i
			class="glyphicon-remove glyphicon"></i>{{"caas_page.ctrl.common.btn_remove" | translate}}</a> 
			<span class="configuration">		  
				<a class="btn btn-xs btn-default" href="#" rel="dl-horizontal">竖向对齐</a>
			</span>			
		<div class="preview drag">{{ctrl.options.widgetLabel}}</div>
		<div class="view">
			<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
			<div class="form-group" id="divDatepicker" style="width:80%;">
				<dl>
					<dt><label for="dtp_input_field" data-toggle="popover" data-placement="top" title="{{ctrl.options.description}}">{{ctrl.options.widgetLabel}}</label><span ng-if="ctrl.options.widgetRequire==true" style="color: red;">*</span></dt> 
					<dd>
						<div class="input-group date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input_field" data-link-format="yyyy-mm-dd">
		                    <input size="16" type="text" id="{{ctrl.options.widgetId}}" value="{{ctrl.options.defaultVal}}"  readonly="readonly" class="form-control" placeholder="click me to choose date"/>
		                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span> -->
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		                </div>
					</dd>
				</dl>
			</div>
		</div>
		<script type="text/javascript">
			$('.form_date').datetimepicker({
		        language:  'en',
		        weekStart: 1,
		        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0 ,
				pickerPosition: "bottom-left"
		    }).on("click", function () {
		    	if($(".form_date .form-control").val() !="" || $(".form_date .form-control").val()!=null){
		    		$(".form_date").datetimepicker("update", $(".form_date .form-control").val());
		    	}else{
		    		$(".form_date").datetimepicker("update", new Date());
		    	}
		    });
			$(".form_date .input-group-addon").on("click",function(){
		    	if($(".form_date .form-control").val() !="" || $(".form_date .form-control").val()!=null){
		    		$(".form_date").datetimepicker("update", $(".form_date .form-control").val());
		    	}else{
		    		$(".form_date").datetimepicker("update", new Date());
		    	}
			});

		</script>		
	</div>
	<div ng-if="ctrl.options.isForm == 'product'">
		<div class="view">
			<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
			<div class="form-group" id="divDatepicker" style="width:80%;">
				<dl>
					<dt><label for="dtp_input_field" data-toggle="popover" data-placement="top" title="{{ctrl.options.description}}">{{ctrl.options.widgetLabel}}</label><span ng-if="ctrl.options.widgetRequire==true" style="color: red;">*</span></dt> 
					<dd>
						<div class="input-group date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input_field" data-link-format="yyyy-mm-dd">
		                    <input size="16" type="text" id="{{ctrl.options.widgetId}}" value="{{ctrl.options.defaultVal}}"  readonly="readonly" class="form-control" placeholder="click me to choose date"/>
		                    <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span> -->
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		                </div>
					</dd>
				</dl>
			</div>
		</div>
		<script type="text/javascript">
			$('.form_date').datetimepicker({
		        language:  'en',
		        weekStart: 1,
		        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0 ,
				pickerPosition: "bottom-left"
		    }).on("click", function () {
		    	if($(".form_date .form-control").val() !="" || $(".form_date .form-control").val()!=null){
		    		$(".form_date").datetimepicker("update", $(".form_date .form-control").val());
		    	}else{
		    		$(".form_date").datetimepicker("update", new Date());
		    	}
		    });
			$(".form_date .input-group-addon").on("click",function(){
		    	if($(".form_date .form-control").val() !="" || $(".form_date .form-control").val()!=null){
		    		$(".form_date").datetimepicker("update", $(".form_date .form-control").val());
		    	}else{
		    		$(".form_date").datetimepicker("update", new Date());
		    	}
			});
		</script>
	</div>
</div>

