<div class="box box-element">
	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i>{{"caas_page.ctrl.common.btn_remove" | translate}}</a>
	<span class="drag label label-default dragbtn"><i class="glyphicon glyphicon-move"></i>{{"caas_page.ctrl.common.btn_move" | translate}}</span>
	<div class="preview drag">
		<input name="widgetLabel" value="{{ctrl.options.widgetLabel}}" hidden="hidden"/>
		{{ctrl.options.widgetLabel}}
	</div>
	<div class="view">
		<!-- 
		<ul class="nav nav-list" style="display: block; padding-left: 5px; padding-right: 5px;">
			<li style="color: #06c;font-weight:bold;"><h4 contenteditable="true" style="float: none;">{{ctrl.options.widgetLabel}}</h4><span style="color: red;"></span></li>
			<li class="nav-divider" style="background-color: rgb(0, 0, 255);"></li>
		</ul>
		 -->
		<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
		<span class="pull-right">
			<span class="glyphicon glyphicon-plus docuNodes" id="{{ctrl.options.widgetId}}" ></span>&nbsp;&nbsp;<span>Add&nbsp;&nbsp;{{ctrl.options.widgetLabel}}</span>
		</span>
		<br>
	    <div class="grid"></div>
	</div>
</div>