<div class="box box-element ui-draggable">
	<a href="#close" class="remove label label-danger"><i
		class="glyphicon-remove glyphicon"></i> 删除</a> <span
		class="drag label label-default"><i
		class="glyphicon glyphicon-move"></i> 拖动</span>
	<div class="preview drag">{{ctrl.options.widgetLabel}}</div>
	<div name="imgCtlDiv" class="view">
		<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
		<div id="wrapper">
			<div id="container">
				<div name="uploader" class="uploader">
					<div class="queueList">
						<div name="dndArea" class="placeholder">
							<div name="filePicker" class="filePicker"></div>
							<p>将图片拖拽到此处</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>