	<div ng-if="ctrl.options.isForm == 'form'">
		<div class="box box-element">
		<div ng-hide="ctrl.options.baseFlag != ''">
			<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i>{{"caas_page.ctrl.common.btn_remove" | translate}}</a>
			<span class="drag label label-default dragbtn"><i class="glyphicon glyphicon-move"></i>{{"caas_page.ctrl.common.btn_move" | translate}}</span>
			<span class="configuration">		  
				<span class="btn-group btn-group-xs">
					<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">缩排 <span class="caret"></span></a>
					<ul class="dropdown-menu" name="indention">
						<li class="active" ><a href="#" rel="text-default">默认</a></li>
						<li class="" ><a href="#" rel="text-left">左缩排</a></li>
						<li class="" ><a href="#" rel="text-right">右缩排</a></li>
					</ul>
				</span>
				<!-- <a class="btn btn-xs btn-default" href="#" rel="dl-horizontal">竖向对齐</a>
				<span class="btn-group btn-group-xs">
					<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">对齐 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="active" ><a href="#" rel="">默认</a></li>
						<li class="" ><a href="#" rel="text-left">左对齐</a></li>
						<li class="" ><a href="#" rel="text-center">居中</a></li>
						<li class="" ><a href="#" rel="text-right">右对齐</a></li>
					</ul>
				</span> -->
			</span>		
		</div>
		<div class="preview drag">
			{{ctrl.options.widgetLabel}}
		</div>
		<div class="view">
			<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
		    <div class="form-group">
				<label data-toggle="popover" data-placement="top" title="{{ctrl.options.description}}">{{ctrl.options.widgetLabel}}</label><span ng-if="ctrl.options.require=true" style="color: red;">*</span>
				<input class="form-control"	type="text" id="{{ctrl.options.widgetId}}" placeholder="input..."  value="{{ctrl.options.defaultVal}}"> 
		    </div>
		</div>
		</div>
	</div>
	<div ng-if="ctrl.options.isForm == 'product'">
	<div class="box box-element">
		<div ng-if="ctrl.options.viewWidth == undefined">
			<div class="view">
				<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
			    <div class="form-group">
		    		<dl>
		    		<!-- readonly="{{ctrl.options.disabled}}" -->
						<dd><label data-toggle="popover" data-placement="top" title="{{ctrl.options.description}}">{{ctrl.options.widgetLabel}}</label><span ng-if="ctrl.options.require=true" style="color: red;">*</span></dd>
						<dt><input class="form-control"	type="text" id="{{ctrl.options.widgetId}}" placeholder="input..."  value="{{ctrl.options.defaultVal}}"></dt> 
					</dl>
			    </div>
			</div>
		</div>
		<div ng-if="ctrl.options.viewWidth != undefined">
			<div class="view" style="width: {{ctrl.options.viewWidth}}px;">
				<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
			    <div class="form-group">
		    		<dl>
						<dd><label data-toggle="popover" data-placement="top" title="{{ctrl.options.description}}">{{ctrl.options.widgetLabel}}</label><span ng-if="ctrl.options.require=true" style="color: red;">*</span></dd>
						<dt><input class="form-control"	type="text" id="{{ctrl.options.widgetId}}" placeholder="input..."  value="{{ctrl.options.defaultVal}}"></dt> 
					</dl>
			    </div>
			</div>
		</div>
		</div>
	</div>
	<div ng-if="ctrl.options.isForm == 'imgAttr'">
		<div class="form-group">
			<label for="image.attrName_en" class="col-md-4 control-label">{{ctrl.options.widgetLabel}}</label>
			<div class="col-md-8">
				<input type="text" id="{{ctrl.options.widgetId}}" name="image.imageName" ng-disabled="{{ctrl.options.disabled}}" value="{{ctrl.options.defaultVal}}"
					class="form-control" placeholder="Image name"
					aria-describedby="basic-addon1" />
			</div>
		</div>
	</div>
