<div class="box box-element ui-draggable">
	<a href="#close" class="remove label label-danger"><i
		class="glyphicon-remove glyphicon"></i>{{"main_page.ctrl.common.btn_remove"
		| translate}}</a> <span class="move drag label label-default"><i
		class="glyphicon glyphicon-move"></i>{{"main_page.ctrl.common.btn_move"
		| translate}}</span>
	<div class="preview">
		{{"main_page.ctrl.notice_list.preview" | translate}}
		<div class="coverdivmove drag"
			title='{{"main_page.ctrl.common.btn_move" | translate}}'></div>
	</div>
	<div class="view">
		<div class="list-group" id="noticeItem">
			<span class="list-group-item active">
				<div class="clearfix">
					<div class="_title col-md-6">{{"main_page.ctrl.notice_list.name"
						| translate}}</div>
					<div class="col-md-6 ">
						<div class="userPanel">
							<span class="btn-group btn-group-xs pull-right"> <a
								data-toggle="dropdown" href="#" class="btn btn-primary btn-xs"
								aria-label="Justify"><span
									class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
								<ul class="dropdown-menu">
									<li class="dropdown-submenu"><a tabindex="-1" href="#"
										class="indent_title">{{"main_page.ctrl.common.menu_indent_title"
											| translate}}</a>
										<ul class="submenu-indent dropdown-menu">
											<li><a href="#"
												ng-click="adjustIndent('add','left',$event)"
												class="indent_add_left">{{"main_page.ctrl.common.menu_indent_add_left"
													| translate}}</a></li>
											<li><a href="#"
												ng-click="adjustIndent('add','right',$event)"
												class="indent_add_right">{{"main_page.ctrl.common.menu_indent_add_right"
													| translate}}</a></li>
											<li class="divider"></li>
											<li><a href="#"
												ng-click="adjustIndent('subtra','left',$event)"
												class="indent_subtra_left">{{"main_page.ctrl.common.menu_indent_subtra_left"
													| translate}}</a></li>
											<li><a href="#"
												ng-click="adjustIndent('subtra','right',$event)"
												class="indent_subtra_right">{{"main_page.ctrl.common.menu_indent_subtra_right"
													| translate}}</a></li>
										</ul></li>
								</ul>
							</span>
						</div>
					</div>
				</div>
			</span>

			<div class="list-group-item">
				<br /> <br />
			</div>
			<div class="list-group-item">
				<br /> <br />
			</div>
			<div class="list-group-item">
				<br /> <br />
			</div>
			<div class="list-group-item">
				<br /> <br />
			</div>
		</div>
	</div>
</div>
