<div class="box box-element">
	<div ng-if="ctrl.options.isForm == 'form'">
		<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i>{{"caas_page.ctrl.common.btn_remove" | translate}}</a>
		<span class="drag label label-default dragbtn"><i class="glyphicon glyphicon-move"></i>{{"caas_page.ctrl.common.btn_move" | translate}}</span>
		<span class="configuration">
			<span class="btn-group btn-group-xs">
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">缩排 <span class="caret"></span></a>
				<ul class="dropdown-menu" name="indention">
					<li class="active" ><a href="#" rel="text-default">默认</a></li>
					<li class="" ><a href="#" rel="text-left">左缩排</a></li>
					<li class="" ><a href="#" rel="text-right">右缩排</a></li>
				</ul>
			</span>		  
			<a class="btn btn-xs btn-default" href="#" rel="dl-horizontal">竖向对齐</a>
			<span class="btn-group btn-group-xs">
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">对齐 <span class="caret"></span></a>
				<ul class="dropdown-menu">
							<li class="active" ><a href="#" rel="">默认</a></li>
							<li class="" ><a href="#" rel="text-left">左对齐</a></li>
							<li class="" ><a href="#" rel="text-center">居中</a></li>
							<li class="" ><a href="#" rel="text-right">右对齐</a></li>
						</ul>
			</span>
		</span>
		<div class="preview drag">{{ctrl.options.widgetLabel}}</div>
		
			<div class="view">
				<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
			    <div class="form-group">
			    	<dl>
						<dd>
							<label data-toggle="popover" data-placement="top" title="{{ctrl.options.description}}">{{ctrl.options.widgetLabel}}</label><span ng-if="ctrl.options.require=true" style="color: red;">*</span>
						</dd>
						<dt>
							<select class="form-control" ng-model="seletedId" id="{{ctrl.options.widgetId}}" ng-options="item as item for item in ctrl.options.options">
								<option value="">--please select--</option>
							</select>
						</dt> 
					</dl>
			    </div>
			</div>
	</div>
	
	<div ng-if="ctrl.options.isForm == 'product'">
		<div ng-if="ctrl.options.viewWidth == undefined">
			<div class="view">
				<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
			    <div class="form-group">
			    	<dl>
						<dd>
							<label data-toggle="popover" data-placement="top" title="{{ctrl.options.description}}">{{ctrl.options.widgetLabel}}</label><span ng-if="ctrl.options.require=true" style="color: red;">*</span>
						</dd>
						<dt>
							<select class="form-control" ng-model="ctrl.options.seletedId" id="{{ctrl.options.widgetId}}" ng-options="item as item for item in ctrl.options.options">
								<option value="">--please select--</option>
							</select>
						</dt> 
					</dl>
			    </div>
			</div>
		</div>
		<div ng-if="ctrl.options.viewWidth != undefined">
			<div class="view" style="width: {{ctrl.options.viewWidth}}px;">
				<input hidden="hidden" type="text" name="widgetId" value="{{ctrl.options.widgetId}}"/>
			    <div class="form-group">
			    	<dl>
						<dd>
							<label data-toggle="popover" data-placement="top" title="{{ctrl.options.description}}">{{ctrl.options.widgetLabel}}</label><span ng-if="ctrl.options.require=true" style="color: red;">*</span>
						</dd>
						<dt>
							<select class="form-control" ng-model="ctrl.options.seletedId" id="{{ctrl.options.widgetId}}" ng-options="item as item for item in ctrl.options.options">
								<option value="">--please select--</option>
							</select>
						</dt> 
					</dl>
			    </div>
			</div>
		</div>
		
	</div>
</div>