<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登录页面</title>
<link rel="stylesheet" th:href="@{styles/bootstrap.min.css}" />
<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">CAAS</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">首页</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="start-template">
			<p th:if="${param.logout}" class="bg-warning">已成功注销</p>
			<p th:if="${param.error}" class="bg-danger">有错误，请重试</p>
			<h2>使用账号密码登录</h2>
			<form name="form" th:action="@{/login}" action="/login" method="post">
				<div class="form-group">
					<label for="username">账号</label> <input type="text"
						class="form-control" name="username" value="" placeholder="账号" />
				</div>
				<div class="form-group">
					<label for="password">密码</label> <input type="password"
						class="form-control" name="password" placeholder="密码" />
				</div>
				<div class="form-group">
					<label for="password">密码</label> <input type="text"
						class="form-control" name="lanCode" value="en" />
				</div>
				<div class="checkbox">
					<label> <input type="checkbox" name="remember-me"
						value="true" th:checked="checked" />
						Remember me
					</label>
				</div>
				<input type="submit" id="login" value="Login"
					class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
</html>