<!-- mainHome -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{"main_page.name" | translate}}</title>

<link href="styles/bootstrap.min.css" name="bootstrapName"
	rel="stylesheet" />
<link href="styles/layoutit.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="styles/webuploader/webuploader.css" />
<link rel="stylesheet" type="text/css"
	href="styles/webuploader/style.css" />
<link rel="stylesheet" type="text/css" href="styles/jsTree/style.css" />
<link rel="stylesheet" type="text/css" href="styles/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="styles/ui-grid.min.css" />
<link rel="stylesheet" type="text/css" href="styles/bootstrap_fileinput.css" />
<link rel="stylesheet" type="text/css"
	href="styles/bootstrap-datetimepicker.min.css" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="styles/mainHome/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<!-- 图标样式-->
<link href="styles/mainHome/style.css" rel="stylesheet" type="text/css" />
<link href="styles/mainHome/style-responsive.css" rel="stylesheet"
	type="text/css" />
<link href="styles/mainHome/default.css" rel="stylesheet"
	type="text/css" id="style_color" />
<!-- END GLOBAL MANDATORY STYLES -->
<script src="scripts/vendor/require.js" data-main="scripts/main"></script>
<script src="scripts/vendor/echarts-all.js"></script>
</head>
<body class="page-header-fixed" ng-controller="mainHomeCtrl">
	<input id="tmpData" type="hidden" value="" />
	<!-- BEGIN HEADER -->
	<div
		class="header navbar navbar-inverse navbar-fixed-top navbar-layoutit">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="collapse navbar-collapse">
			<a class="brand" ui-sref="dashboard"> <img
				src="../styles/img/logo1.png" alt="logo" />
			</a>
			<!-- BEGIN TOP NAVIGATION MENU -->
			<ul class="nav pull-right">
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown user"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <img alt=""
						src="../styles/img/image/avatar1_small.jpg" /> <span
						class="username">{{userInfo.realname}}</span> <i
						class="icon-angle-down"></i>
				</a>
					<ul class="dropdown-menu">
						<li><a ui-sref="profile"><i class="icon-user"></i> My
								Profile</a></li>
						<!--<li><a href="page_calendar.html"><i
									class="icon-calendar"></i> My Calendar</a></li>
							<li><a href="inbox.html"><i class="icon-envelope"></i>
									My Inbox(3)</a></li>
							<li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
							<li class="divider"></li>
							<li><a href="extra_lock.html"><i class="icon-lock"></i>
									Lock Screen</a></li>-->
						<li class="divider"></li>
						<li><a href="#" ng-click="logout()"><i class="icon-key"></i>
								Log Out</a></li>
					</ul></li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
			<!-- END TOP NAVIGATION MENU -->
			<!--<ul class="nav pull-right">
					<li class="dropdown" id="header_task_bar"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"> <i
							class="icon-tasks"></i> <span class="badge">5</span>
					</a>
						<ul class="dropdown-menu extended tasks">
							<li>
								<p>You have 12 pending tasks</p>
							</li>
							<li><a href="#"> <span class="task"> <span
										class="desc">New release v1.2</span> <span class="percent">30%</span>
								</span> <span class="progress progress-success "> <span
										style="width: 30%;" class="bar"></span>
								</span>
							</a></li>
							<li><a href="#"> <span class="task"> <span
										class="desc">Application deployment</span> <span
										class="percent">65%</span>
								</span> <span class="progress progress-danger progress-striped active">
										<span style="width: 65%;" class="bar"></span>
								</span>
							</a></li>
							<li><a href="#"> <span class="task"> <span
										class="desc">Mobile app release</span> <span class="percent">98%</span>
								</span> <span class="progress progress-success"> <span
										style="width: 98%;" class="bar"></span>
								</span>
							</a></li>
							<li><a href="#"> <span class="task"> <span
										class="desc">Database migration</span> <span class="percent">10%</span>
								</span> <span class="progress progress-warning progress-striped">
										<span style="width: 10%;" class="bar"></span>
								</span>
							</a></li>
							<li><a href="#"> <span class="task"> <span
										class="desc">Web server upgrade</span> <span class="percent">58%</span>
								</span> <span class="progress progress-info"> <span
										style="width: 58%;" class="bar"></span>
								</span>
							</a></li>
							<li><a href="#"> <span class="task"> <span
										class="desc">Mobile development</span> <span class="percent">85%</span>
								</span> <span class="progress progress-success"> <span
										style="width: 85%;" class="bar"></span>
								</span>
							</a></li>
							<li class="external"><a href="#">See all tasks <i
									class="m-icon-swapright"></i></a></li>
						</ul></li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown" id="header_inbox_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-envelope"></i>
							<span class="badge">5</span>
						</a>
						<ul class="dropdown-menu extended inbox">
							<li>
								<p>You have 12 new messages</p>
							</li>
							<li>
								<a href="inbox.html?a=view">
								<span class="photo">
									<img src="../styles/img/image/avatar2.jpg" alt="" /></span>
									<span class="subject">
									<span class="from">Lisa Wong</span>
									<span class="time">Just Now</span>
								</span>
								<span class="message">
									Vivamus sed auctor nibh congue nibh. auctor nibh
									auctor nibh...
								</span>
								</a>
							</li>
							<li>
								<a href="inbox.html?a=view">
									<span class="photo"><img src="../styles/img/image/avatar3.jpg" alt="" /></span>
									<span class="subject">
									<span class="from">Richard Doe</span>
									<span class="time">16 mins</span>
								</span>
								<span class="message">
									Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh
									auctor nibh...
								</span>
								</a>
							</li>
							<li>
								<a href="inbox.html?a=view">
									<span class="photo"><img src="../styles/img/image/avatar1.jpg" alt="" /></span>
									<span class="subject">
									<span class="from">Bob Nilson</span>
									<span class="time">2 hrs</span>
								</span>
								<span class="message">
									Vivamus sed nibh auctor nibh congue nibh. auctor nibh
									auctor nibh...
								</span>
								</a>
							</li>
							<li class="external">
								<a href="inbox.html">See all messages <i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown" id="header_notification_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-warning-sign"></i>
						<span class="badge">6</span>
						</a>
						<ul class="dropdown-menu extended notification">
							<li>
								<p>You have 14 new notifications</p>
							</li>
							<li>
								<a href="#">
								<span class="label label-success"><i class="icon-plus"></i></span>
								New user registered.
								<span class="time">Just now</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-important"><i class="icon-bolt"></i></span>
									Server #12 overloaded.
									<span class="time">15 mins</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-warning"><i class="icon-bell"></i></span>
									Server #2 not respoding.
									<span class="time">22 mins</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-info"><i class="icon-bullhorn"></i></span>
									Application error.
									<span class="time">40 mins</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-important"><i class="icon-bolt"></i></span>
									Database overloaded 68%.
									<span class="time">2 hrs</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-important"><i class="icon-bolt"></i></span>
									2 user IP blocked.
									<span class="time">5 hrs</span>
								</a>
							</li>
							<li class="external">
								<a href="#">See all notifications <i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
				</ul> -->
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapsed">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div> <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<br />
				</li>
				<li class="start active "><a ui-sref="dashboard"
					ng-click="setNavStyle($event)" id="menu_dashboard"> <i
						class="icon-home"></i> <span class="title">Dashboard</span> <span
						class="selected"></span>
				</a></li>
				<li class=""><a ui-sref="addAttr"
					ng-click="setNavStyle($event)" id="menu_addAttr"> <i
						class="icon-cogs"></i> <span class="title">{{"main_page.nav.header_menu.add_ctrl"
							| translate}}</span>
				</a></li>
				<li class=""><a ui-sref="caas({formId:'', searchId:''})"
					ng-click="setNavStyle($event)" id="menu_form"> <i
						class="icon-table"></i> <span class="title">{{"main_page.nav.header_menu.edit_tool"
							| translate}}</span>
				</a></li>
				<li class=""><a ui-sref="product({formId:'', searchId:''})"
					ng-click="setNavStyle($event)" id="menu_product"> <i
						class="icon-bookmark-empty"></i> <span class="title">{{"main_page.nav.header_menu.product"
							| translate}}</span>
				</a></li>
				<li class=""><a ui-sref="profile"
					ng-click="setNavStyle($event)" id="menu_profile"> <i
						class="icon-user-md"></i> <span class="title">{{"main_page.nav.header_menu.user"
							| translate}}</span>
				</a></li>
				<li class=""><a ui-sref="account"
					ng-click="setNavStyle($event)"> <i class="icon-user"></i> <span
						class="title">{{"main_page.nav.header_menu.account" |
							translate}}</span>
				</a></li>
				<li class="last"><a href="javascript:;"
					ng-click="setNavStyle($event)"> <i class="icon-th"></i> <span
						class="title">{{"main_page.nav.header_menu.data_manage" | translate}}</span>
				</a>
					<ul class="sub-menu_s">
						<li>
							<a ui-sref="dataManagement_export">
							{{"main_page.nav.header_menu.data_manage_menu.data_export" | translate}}</a>
						</li>
						<li>
							<a ui-sref="dataManagement_import">
							{{"main_page.nav.header_menu.data_manage_menu.data_import" | translate}}</a>
						</li>
						<li>
							<a ui-sref="dataManagement_comparison">
							{{"main_page.nav.header_menu.data_manage_menu.data_comparison" | translate}}</a>
						</li>
				</ul>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<br />
			<div ui-view=""></div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div style="text-align: center;">Copyright 2016-2020 , All
			Rights Reserved. 信生科技（大连）有限公司 版权所有</div>
		<div class="footer-tools">
			<span class="go-top"> <i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	<!-- END FOOTER -->
	<div style="display: none;">
		<form id="id_form" th:action="@{/logout}" method="post">
			<input type="submit" value="" id="id_logout" />
		</form>
	</div>
</body>
</html>

