﻿<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<title>CaaS</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="styles/bootstrap.min.css" rel="stylesheet" />
<link href="styles/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="styles/jquery.fullPage.css" />
<link rel="stylesheet" href="styles/welcome-style.css" />

<script src="scripts/vendor/require.js" data-main="scripts/main"></script>

</head>

<body ng-controller="welcomeCtrl">
	<div class="dowebok-hd">
		<div class="inner">
			<h1>
				<a href="">CaaS</a>
			</h1>
			<ul class="nav">
				<li data-menuanchor="page1" id="page1"><a href="#page1"
					ng-click="moveTo('page1',0)">{{pageContent.home.menu}}</a></li>
				<li data-menuanchor="page2" id="page2"><a href="#page2"
					ng-click="moveTo('page2',0)">{{pageContent.services.menu}}</a></li>
				<li data-menuanchor="page3" id="page3"><a href="#page3"
					ng-click="moveTo('page3',0)">{{pageContent.about.menu}}</a></li>
				<li data-menuanchor="page4" id="page4"><a href="#page4"
					ng-click="moveTo('page4',0)">{{pageContent.price.menu}}</a></li>
				<li data-menuanchor="page5" id="page5"><a href="#page5"
					ng-click="moveTo('page5',0)">{{pageContent.contact.menu}}</a></li>
				<li id="page6"><a href="#" ng-click="pro('0','0')">{{"welcome_page.login" |
						translate}}</a></li>
				<li id="page7"><a href="#" ng-click="pro('0','1')">{{"welcome_page.register" | translate}}</a></li>
				<li id="page8"><span class="btn-group"> <a
						data-toggle="dropdown" href="#">
						<span>{{"welcome_page.language" | translate}}<!-- <i class="glyphicon glyphicon-globe"></i> --></span></a>
						<ul class="dropdown-menu">
							<li style="float: none;"><a href="#" id="lang_zh" rel=""
								ng-click="changeLanguage('zh')">{{"language_menu.lang_zh" |
									translate}}</a></li>
							<li style="float: none;"><a href="#" id="lang_en" rel=""
								ng-click="changeLanguage('en')">{{"language_menu.lang_en" |
									translate}}</a></li>
						</ul>
				</span></li>
			</ul>
		</div>
	</div>
	<div id="dowebok">
		<div data-anchor="page1" class="section section1">
			<div class="gojd">
				<div class="inner">
					<div class="txt">
						<h3>欢迎来到CaaS，提升你的产品信息管理</h3>
						<p>连接，共享，管理，CaaS（Catalog as a Service）为你提供全面产品信息服务，CaaS为你解决所有渠道的数据流交互和集成，让新品发布和数据更新无缝到达供应链的每个环节，变企业内部信息为销售利器，提高终端客户数字体验。无论处于供应链的那个环节，CaaS都会给你精准的数据保障，你拥有对数据的控制，提高共享效率，降低技术和成本门槛。</p>
						<button type="button" class="btn btn-default btn-lg" onclick="proJq('0','0')">立即体验</button>
					</div>
				</div>
			</div>
		</div>
		<div data-anchor="page2" class="section section2">
			<div class="inner" id="service_id">
					<div style="padding-top: 11%">
						<p>
							<span style="margin-left: 15%;font-size: 3em;text-decoration: none;border-bottom: 5px solid red;">{{"welcome_page_services.data_collection" | translate}}</span>
							<span style="margin-left: 12%;font-size: 3em;text-decoration: none;border-bottom: 5px solid yellow;">{{"welcome_page_services.standard_consultation" | translate}}</span>
							<span style="margin-left: 12%;font-size: 3em;text-decoration: none;border-bottom: 5px solid blue;">{{"welcome_page_services.user_research" | translate}}</span>
						</p>
					</div>
					<div style="padding-top: 4%">
						<p>
							<span style="margin-left: 26%;font-size: 3em;text-decoration: none;border-bottom: 5px solid orange;">{{"welcome_page_services.precise_marketing" | translate}}</span>
							<span style="margin-left: 16%;font-size: 3em;text-decoration: none;border-bottom: 5px solid green;">{{"welcome_page_services.catalog_solution" | translate}}</span>
							<span style="margin-left: 14%;font-size: 3em;text-decoration: none;border-bottom: 5px solid purple;">{{"welcome_page_services.data_cleaning" | translate}}</span>
						</p>
					</div>
			</div>
		</div>
		<div data-anchor="page3" class="section section3">
			<div class="gojd">
				<div class="inner">
					<div class="txt">
						<h2>关于我们</h2>
						<p>CaaS团队由中美资深在大数据和供应链方面的技术和市场专家共同组成。我们旨在打造一个开放，安全的平台，为用户提供“无缝集成，全面连接”的数据流的服务，从而减少新品上市时间，提高用户体验和提高销售收入</p>
					</div>
				</div>
			</div>
		</div>
		<div data-anchor="page4" class="section section4">
			<div class="inner"></div>
			<div class="page-footer" style="height: 30%;width: 70%;">
				<div style="margin-left: 21%;font-size:5em;margin-bottom: 77px;" id="our_price_comp">{{"welcome_page.our_price" | translate}}</div>
				<table style="width: 100%;height: 100%;text-align: center;margin-left: -15%;" border="3" cellspacing="10">
					<thead>
						<tr id="service_show_th">
						</tr>
					</thead>
					<tbody id="service_show_tbody">
					</tbody>
				</table>
			</div>
		</div>
		<div data-anchor="page5" class="section section5">
			<div class="inner">
				<div class="txt">
				</div>
			</div>
			<div class="page-footer">
				<h1 style="padding-left: 21%;">联系我们</h1>
				<div class="line"></div>
				<div class="form-horizontal" style="padding-left: 21%;">
					<div class="form-group" style="margin-bottom: 0;">
						<div class="col-md-6">
							<span class="icon-map-marker"></span>
							<span>杭州市滨江区西兴街道固陵路64-9号</span>
						</div>
						<div class="col-md-3">
							<span class="icon-envelope"></span>
							<span>service@trasun.com</span>
						</div>
						<div class="col-md-3">
							<span class="icon-mobile-phone"></span>
							<span>400-1362-808</span>
						</div>
					</div>
				</div>
				<div class="line"></div>
				<div class="form-horizontal" style="padding-left: 21%;">
					<div class="form-group" style="margin-bottom: 0;">
						<div class="col-md-6">
							<span class="icon-map-marker"></span>
							<span>Location: 888 Washington Street, Suite 301 Dedham MA, 02026</span>
						</div>
						<div class="col-md-3">
							<span class="icon-envelope"></span>
							<span>Fax:（781） 686-9639</span>
						</div>
						<div class="col-md-3">
							<span class="icon-mobile-phone"></span>
							<span>Tel:（857）636-9783</span>
						</div>
					</div>
				</div>
				<div class="line"></div>
				<div class="form-horizontal" style="padding-top: 5%;" id="contactUs">
					<div class="form-group">
						<label class="col-md-4 control-label"><span
							style="color: red;">*</span>{{"welcome_page_contactUs.corpname" |
							translate}}：</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="corpname"
								ng-model="contactUs.corpname" value="" placeholder="corpname"
								required="required" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label"><span
							style="color: red;">*</span>{{"welcome_page_contactUs.phone" |
							translate}}：</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="phone"
								ng-model="contactUs.phone" value="" placeholder="phone"
								required="required" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label"><span
							style="color: red;">*</span>{{"welcome_page_contactUs.real_name" |
							translate}}：</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="name"
								ng-model="contactUs.name" value="" placeholder="real name"
								required="required" /> 
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label"><span
							style="color: red;">*</span>{{"welcome_page_contactUs.email_address" |
							translate}}：</label>
						<div class="col-md-8">
							<input type="email" class="form-control" name="email" id="contactUsEmail"
								ng-model="contactUs.email" value="" placeholder="email" oninput="checkEmail()"
								required="required" />
							<span id="emailchk" style="display: none;color: red;">{{"welcome_page_register.email_chk2"
								| translate}}</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<button type="button" ng-click="saveContact()" class="btn btn-primary pull-right" style="margin-right: 15px;">{{"welcome_page_contactUs.submit" | translate}}</button>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="saveContact" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">{{"welcome_page_contactUs.title"
								| translate}}</h4>
	      </div>
	      <div class="modal-body">
	        <p>{{"welcome_page_contactUs.comfirm" | translate}}</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_contactUs.close" | translate}}</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addContactUs()">{{"welcome_page_contactUs.save" | translate}}</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- sign in and login start -->
	<input type="hidden" id="downloadModal_login_regist_event" data-target="#downloadModal_login_regist" data-toggle="modal" />
	<div class="modal fade" id="downloadModal_login_regist" tabindex="-1" role="dialog" aria-hidden="true">
		   <div class="modal-dialog">
	            <div class="modal-content">
							 <div class="box box-element">
								<div class="view">
									<div class="tabbable" id="myTabs"> <!-- Only required for left/right tabs -->
										<ul class="nav nav-tabs">
											<li class="active" id="tab_login"><a href="#tab1"  data-toggle="tab">登录</a></li>
											<li id="tab_reg"><a href="#tab2" data-toggle="tab">注册</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active" id="tab1">
												<div class="row-fluid">
												  <p id="warn_error_login" class="bg-danger"></p>
												  <form class="form-horizontal" name="form" id="loginForm" th:action="@{/login}" action="/login" method="post">
													   <div class="modal-body" style="padding-top: 10%;">
																<div class="form-group">
																	<label class="col-md-4 control-label">{{"welcome_page_login.login_name"
																		| translate}}：</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="username" id="username" value=""
																			placeholder="login name" />
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-4 control-label">{{"welcome_page_login.password"
																		| translate}}：</label>
																	<div class="col-md-8">
																		<input type="password" class="form-control" name="password" id="password" placeholder="password" />
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-4 control-label">{{"welcome_page_login.language" | translate}}：</label>
																	<div class="col-md-8">
																		<select name="lanCode" id="lanCode">
																			<option value="en">English</option>
																			<option value="zh">中文</option>
																		</select>
																	</div>
																</div>
																<div class="checkbox">
																	<label> <input type="checkbox" name="remember-me"
																		value="true" th:checked="checked" />
																		{{"welcome_page_login.remember_me" | translate}}
																	</label>
																</div>
															<div class="modal-footer">
																<input type="button" id="login" ng-click="login()" value="{{'welcome_page_login.login_btn' | translate}}" class="btn btn-primary" />
																<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_login.cancel"
																	| translate}}</button>
															</div>
														</div>
												  </form>
											    </div>
											</div>
											<div class="tab-pane" id="tab2">
													<form role="form" name="myForm" class="form-horizontal" novalidate="novalidate">
															<div class="modal-body" style="padding-top: 10%;">
																<div class="form-group">
																	<label class="col-md-4 control-label"><span
																		style="color: red;">*</span>{{"welcome_page_register.company_name"
																		| translate}}：</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="companyname"
																			ng-model="companyname" value="" placeholder="login name"
																			required="required" /> <span style="color: red"
																			ng-show="myForm.companyname.$dirty"> <span
																			ng-show="myForm.companyname.$invalid"> <span
																				ng-show="myForm.companyname.$error.required">{{"welcome_page_register.company_name_chk"
																					| translate}}</span>
																		</span>
																		</span>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-4 control-label"><span
																		style="color: red;">*</span>{{"welcome_page_register.real_name"
																		| translate}}：</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="realname"
																			ng-model="realname" value="" placeholder="Your Name" /> <span
																			style="color: red" ng-show="myForm.realname.$dirty"> <span
																			ng-show="myForm.realname.$invalid"> <span
																				ng-show="myForm.realname.$error.required">{{"welcome_page_register.real_name_chk"
																					| translate}}</span>
																		</span>
																		</span>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-4 control-label"><span
																		style="color: red;">*</span>{{"welcome_page_register.email" |
																		translate}}：</label>
																	<div class="col-md-8">
																		<input type="email" class="form-control" name="email"
																			ng-model="email" value="" placeholder="email"
																			required="required" /> <span style="color: red"
																			ng-show="myForm.email.$dirty"> <span
																			ng-show="myForm.email.$invalid"> <span
																				ng-show="myForm.email.$error.required">{{"welcome_page_register.email_chk1"
																					| translate}}</span> <span ng-show="myForm.email.$error.email">{{"welcome_page_register.email_chk2"
																					| translate}}</span>
																		</span>
																		</span>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-4 control-label"><span
																		style="color: red;">*</span>{{"welcome_page_register.contect_phone"
																		| translate}}：</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="mobile"
																			ng-model="mobile" value="" placeholder="mobile" /> <span
																			style="color: red" ng-show="myForm.mobile.$dirty"> <span
																			ng-show="myForm.mobile.$invalid"> <span
																				ng-show="myForm.mobile.$error.required">{{"welcome_page_register.contect_phone_chk"
																					| translate}}</span>
																		</span>
																		</span>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-4 control-label">{{"welcome_page_register.postal_address"
																		| translate}}：</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" ng-model="address"
																			value="" placeholder="address" />
																	</div>
																</div>
																<div class="form-group" id="service_pro_check"
																	style="display: none;">
																	<span style="color: red;">请选择服务！</span>
																</div>
															</div>
															<div style="border: 3px dashed silver; margin: 15px;">
																<h3>服务选择区:</h3>
																<div class="form-group">
																	<div class="col-md-6" id="preview">
																		<section class="price-table secPadding">
																			<div class="container text-center">
																				<div class="row">
																					<div class="col-md-1"></div>
																					<div class="col-xs-3 col-md-4" id="regist_service_choose">
																					</div>
																				</div>
																			</div>
																		</section>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<input type="button" id="regist"
																	value="{{'welcome_page_register.regist_btn' | translate}}"
																	ng-click="regist()" class="btn btn-primary"
																	ng-disabled="myForm.$invalid" data-dismiss="modal" />
																<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_register.cancel"
																	| translate}}</button>
															</div>
													</form>
											</div>
										</div>
									</div>
								</div>
							</div>
	            </div>
	            <!-- /.modal-content -->
	        </div>
	</div>
	<!-- sign in and login end -->

	<!-- regist success dialog start -->
	<div class="modal fade" id="downloadModal_regist_success" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>{{"welcome_page.register" | translate}}</h3>
				</div>
				<div class="modal-body">
					<span>{{"welcome_page_register.register_success" |
						translate}}</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_register.register_close_btn"
						| translate}}</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="downloadModal_regist_success_event" data-target="#downloadModal_regist_success" data-toggle="modal" />
	<!-- regist success dialog end-->
	<!-- regist success dialog start -->
	<div class="modal fade" id="downloadModal_regist_success" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>{{"welcome_page.register" | translate}}</h3>
				</div>
				<div class="modal-body">
					<span>{{"welcome_page_register.register_success" |
						translate}}</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_register.register_close_btn"
						| translate}}</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="downloadModal_regist_success_event"
		data-target="#downloadModal_regist_success" data-toggle="modal" />
	<!-- regist success dialog end-->
	<!-- regist fail dialog start -->
	<div class="modal fade" id="downloadModal_regist_fail" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>{{"welcome_page.register" | translate}}</h3>
				</div>
				<div class="modal-body">
					<span>{{"welcome_page_register.register_fail" | translate}}</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_register.register_close_btn"
						| translate}}</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="downloadModal_regist_fail_event"
		data-target="#downloadModal_regist_fail" data-toggle="modal" />
	<div id="sHtmlText"></div>
	<!-- regist success dialog end-->
	<script>
		
	</script>

</body>
</html>