<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>Home</title>

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="styles/bootstrap.min.css" rel="stylesheet" />
<link href="styles/font-awesome.css" rel="stylesheet" />
<link href="styles/animations.css" rel="stylesheet" />
<link href="styles/welcome-style.css" rel="stylesheet" />

<script src="scripts/vendor/require.js" data-main="scripts/main"></script>

</head>
<body class="no-trans" ng-controller="welcomeCtrl">
	<div pageContent=""></div>

	<!-- scrollToTop -->
	<div class="scrollToTop">
		<i class="icon-up-open-big"></i>
	</div>

	<!-- header start -->
	<header-h5 class="header fixed clearfix navbar navbar-fixed-top" style="background-color: #C6C6C7;"> 
	<div class="container">
		<div class="row">
			<div class="col-md-4">

				<!-- header-left start -->
				<div class="header-left">

					<!-- logo -->
					<div class="logo smooth-scroll">
						<a href="#banner"><img id="logo" src="styles/img/logo.png"
							alt="Worthy" /></a>
					</div>

					<!-- name-and-slogan -->
					<div class="logo-section smooth-scroll">
						<div class="brand">
							<a href="#banner">CAAS</a>
						</div>
					</div>

				</div>
				<!-- header-left end -->

			</div>
			<div class="col-md-8">

				<!-- header-right start -->
				<div class="header-right">

					<!-- main-navigation start -->
					<div class="main-navigation animated">

						<!-- navbar start -->
						<nav class="navbar navbar-default" role="navigation">
							<div class="container-fluid">

								<!-- Toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle"
										data-toggle="collapse" data-target="#navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span> <span
											class="icon-bar"></span> <span class="icon-bar"></span> <span
											class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse scrollspy smooth-scroll"
									id="navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
										<li class="active"><a href="#banner">{{pageContent.home.menu}}</a></li>
										<li><a href="#services">{{pageContent.services.menu}}</a></li>
										<li><a href="#about">{{pageContent.about.menu}}</a></li>

										<li><a href="#price">{{pageContent.price.menu}}</a></li>
										<li><a href="#contact">{{pageContent.contact.menu}}</a></li>
										<li><a href="#" data-toggle="modal"
											data-target="#downloadModal_login">{{"welcome_page.login"
												| translate}}</a></li>
										<li><a href="#" ng-click="pro('0')">{{"welcome_page.register"
												| translate}}</a></li>
										<li><span class="btn-group"> <a
												data-toggle="dropdown" href="#"><span><i
														class="glyphicon glyphicon-globe"></i></span></a>
												<ul class="dropdown-menu">
													<li class=""><a href="#" id="lang_zh" rel=""
														ng-click="changeLanguage('zh')">{{"language_menu.lang_zh"
															| translate}}</a></li>
													<li class=""><a href="#" id="lang_en" rel=""
														ng-click="changeLanguage('en')">{{"language_menu.lang_en"
															| translate}}</a></li>
												</ul>
										</span></li>
									</ul>
								</div>
							</div>
						</nav>
						<!-- navbar end -->

					</div>
					<!-- main-navigation end -->
				</div>
				<!-- header-right end -->
			</div>
		</div>
	</div>
	</header-h5>
	<!-- header end -->

	<!-- banner start -->
	<div id="banner" class="banner">
		<div class="banner-caption">
			<div class="container">

				<div class="row " style="margin-top: 0px;">
					<div class="col-sm-12">
						<h2 style="color: black;">{{pageContent.home.title}}</h2>
						<p>{{pageContent.home.detail}}</p>
					</div>

				</div>

			</div>
		</div>
	</div>
	<!-- banner end -->
	<!-- section start -->
	<section class="section transprant-bg pclear secPadding">
		<div class="container no-view" data-animation-effect="fadeIn">
			<h1 id="services" class="title text-center">{{pageContent.services.title}}</h1>
			<div class="space"></div>
			<div class="row">
				<div class="col-md-4">
					<div class="media block-list">
						<div class="media-left">
							<i class="fa fa-trophy"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{pageContent.services.detail.item1.title}}</h3>
							<blockquote>
								<p>{{pageContent.services.detail.item1.detail}}</p>

							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media block-list">
						<div class="media-left">
							<i class="fa fa-gear"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{pageContent.services.detail.item2.title}}</h3>
							<blockquote>
								<p>{{pageContent.services.detail.item2.detail}}</p>

							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media block-list">
						<div class="media-left">
							<i class="fa fa-laptop"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{pageContent.services.detail.item3.title}}</h3>
							<blockquote>
								<p>{{pageContent.services.detail.item3.detail}}</p>

							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="media block-list">
						<div class="media-left">
							<i class="fa fa-clock-o"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{pageContent.services.detail.item4.title}}</h3>
							<blockquote>
								<p>{{pageContent.services.detail.item4.detail}}</p>

							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media block-list">
						<div class="media-left">
							<i class="fa fa-heart"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{pageContent.services.detail.item5.title}}</h3>
							<blockquote>
								<p>{{pageContent.services.detail.item5.detail}}</p>

							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media block-list">
						<div class="media-left">
							<i class="fa fa-magic"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{pageContent.services.detail.item6.title}}</h3>
							<blockquote>
								<p>{{pageContent.services.detail.item6.detail}}</p>

							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section end -->

	<!-- section start -->
	<section class="section clearfix no-view secPadding"
		data-animation-effect="fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 id="about" class="title text-center">
						{{pageContent.about.title}}</h1>
					<p class="lead text-center">{{pageContent.about.subTitle}}</p>
					<div class="space"></div>
					<div class="row">
						<div class="col-md-6">
							<img src="styles/img/section-image-1.png" alt="" />
							<div class="space"></div>
						</div>
						<div class="col-md-6">
							<p>{{pageContent.about.detail.item1.detail}}</p>
							<p>{{pageContent.about.detail.item2.detail}}</p>
							<ul class="list-unstyled">
								<li><i class="fa fa-arrow-circle-right pr-10 colored"></i>
									{{pageContent.about.feature.item1.detail}}</li>
								<li><i class="fa fa-arrow-circle-right pr-10 colored"></i>
									{{pageContent.about.feature.item2.detail}}</li>
								<li><i class="fa fa-arrow-circle-right pr-10 colored"></i>
									{{pageContent.about.feature.item3.detail}}</li>
								<li><i class="fa fa-arrow-circle-right pr-10 colored"></i>
									{{pageContent.about.feature.item4.detail}}</li>
								<li><i class="fa fa-arrow-circle-right pr-10 colored"></i>
									{{pageContent.about.feature.item5.detail}}</li>
							</ul>
						</div>
					</div>
					<div class="space"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section end -->

	<section id="price" class="price-table secPadding">
		<div class="container text-center">
			<div class="heading">
				<h1 class="text-center title">{{pageContent.price.title}}</h1>
				<div class="separator"></div>
				<p class="lead text-center">{{pageContent.price.subTitle}}</p>
				<br />
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							<h3>{{pageContent.price.detail.basic.title}}</h3>
						</div>
						<div class="panel-body">
							<h3 class="panel-title price">
								free</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">{{pageContent.price.detail.basic.projects}}</li>
							<li class="list-group-item">{{pageContent.price.detail.basic.storage}}</li>
							<li class="list-group-item">{{pageContent.price.detail.basic.users}}</li>
							<li class="list-group-item">{{pageContent.price.detail.basic.bandwidth}}</li>
							<li class="list-group-item">{{pageContent.price.detail.basic.security}}</li>
							<li class="list-group-item"><a class="btn btn-default" ng-click="pro('0')">Sign Up Now!</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							<h3>{{pageContent.price.detail.plus.title}}</h3>
						</div>
						<div class="panel-body">
							<h3 class="panel-title price">
								{{pageContent.price.detail.plus.price}}</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">{{pageContent.price.detail.plus.projects}}</li>
							<li class="list-group-item">{{pageContent.price.detail.plus.storage}}</li>
							<li class="list-group-item">{{pageContent.price.detail.plus.users}}</li>
							<li class="list-group-item">{{pageContent.price.detail.plus.bandwidth}}</li>
							<li class="list-group-item">{{pageContent.price.detail.plus.security}}</li>
							<li class="list-group-item"><a class="btn btn-default"  ng-click="pro('1')">Sign Up Now!</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="panel panel-danger text-center">
						<div class="panel-heading">
							<h3>{{pageContent.price.detail.premium.title}}</h3>
						</div>
						<div class="panel-body">
							<h3 class="panel-title price">
								{{pageContent.price.detail.premium.price}}</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">{{pageContent.price.detail.premium.projects}}</li>
							<li class="list-group-item">{{pageContent.price.detail.premium.storage}}</li>
							<li class="list-group-item">{{pageContent.price.detail.premium.users}}</li>
							<li class="list-group-item">{{pageContent.price.detail.premium.bandwidth}}</li>
							<li class="list-group-item">{{pageContent.price.detail.premium.security}}</li>
							<li class="list-group-item"><a class="btn btn-primary"  ng-click="pro('1')">Sign Up Now!</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="panel panel-default text-center">
						<div class="panel-heading">
							<h3>{{pageContent.price.detail.ultimate.title}}</h3>
						</div>
						<div class="panel-body">
							<h3 class="panel-title price">
								{{pageContent.price.detail.ultimate.price}}</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">{{pageContent.price.detail.ultimate.projects}}</li>
							<li class="list-group-item">{{pageContent.price.detail.ultimate.storage}}</li>	
							<li class="list-group-item">{{pageContent.price.detail.ultimate.users}}</li>
							<li class="list-group-item">{{pageContent.price.detail.ultimate.bandwidth}}</li>
							<li class="list-group-item">{{pageContent.price.detail.ultimate.security}}</li>
							<li class="list-group-item"><a class="btn btn-default"  ng-click="pro('1')">Sign Up Now!</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- login dialog start-->
	<div class="modal fade" id="downloadModal_login" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<p th:if="${param.logout}" class="bg-warning">已成功注销</p>
			<p th:if="${param.error}" class="bg-danger">有错误，请重试</p>
			<form class="form-horizontal" name="form" th:action="@{/login}"
				action="/login" method="post">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">×</a>
						<h3>{{"welcome_page.login" | translate}}</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-md-4 control-label">{{"welcome_page_login.login_name" | translate}}：</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="username" value=""
									placeholder="login name" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">{{"welcome_page_login.password" | translate}}：</label>
							<div class="col-md-8">
								<input type="password" class="form-control" name="password"
									placeholder="password" />
							</div>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" name="remember-me"
								value="true" th:checked="checked" /> {{"welcome_page_login.remember_me" | translate}}
							</label>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" id="login" value="{{'welcome_page_login.login_btn' | translate}}"
							class="btn btn-primary" />
						<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_login.cancel" | translate}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- login dialog end-->
	<!-- regist dialog start -->
	<input type="hidden" id="downloadModal_regist_event" data-target="#downloadModal_regist" data-toggle="modal" />
	<div class="modal fade" id="downloadModal_regist" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<form role="form" name="myForm" class="form-horizontal"
				novalidate="novalidate">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">×</a>
						<h3>{{"welcome_page.register" | translate}}</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-md-4 control-label"><span
								style="color: red;">*</span>{{"welcome_page_register.company_name" | translate}}：</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="companyname"
									ng-model="companyname" value="" placeholder="login name"
									required="required" /> <span style="color: red"
									ng-show="myForm.companyname.$dirty"> <span
									ng-show="myForm.companyname.$invalid"> <span
										ng-show="myForm.companyname.$error.required">{{"welcome_page_register.company_name_chk" | translate}}</span>
								</span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label"><span
								style="color: red;">*</span>{{"welcome_page_register.real_name" | translate}}：</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="realname"
									ng-model="realname" value="" placeholder="Your Name" /> <span
									style="color: red" ng-show="myForm.realname.$dirty"> <span
									ng-show="myForm.realname.$invalid"> <span
										ng-show="myForm.realname.$error.required">{{"welcome_page_register.real_name_chk" | translate}}</span>
								</span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label"><span
								style="color: red;">*</span>{{"welcome_page_register.email" | translate}}：</label>
							<div class="col-md-8">
								<input type="email" class="form-control" name="email"
									ng-model="email" value="" placeholder="email"
									required="required" /> <span style="color: red"
									ng-show="myForm.email.$dirty"> <span
									ng-show="myForm.email.$invalid"> <span
										ng-show="myForm.email.$error.required">{{"welcome_page_register.email_chk1" | translate}}</span> <span
										ng-show="myForm.email.$error.email">{{"welcome_page_register.email_chk2" | translate}}</span>
								</span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label"><span
								style="color: red;">*</span>{{"welcome_page_register.contect_phone" | translate}}：</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="mobile"
									ng-model="mobile" value="" placeholder="mobile" /> <span
									style="color: red" ng-show="myForm.mobile.$dirty"> <span
									ng-show="myForm.mobile.$invalid"> <span
										ng-show="myForm.mobile.$error.required">{{"welcome_page_register.contect_phone_chk" | translate}}</span>
								</span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">{{"welcome_page_register.postal_address" | translate}}：</label>
							<div class="col-md-8">
								<input type="text" class="form-control" ng-model="address"
									value="" placeholder="address" />
							</div>
						</div>
						<div class="form-group" id="service_pro_check" style="display: none;">
							<span style="color: red;">请选择服务！</span>
						</div>
					</div>
					<div style="border:3px dashed silver;margin: 15px;">
						<h3>服务选择区:</h3>
						<div class="form-group">
							<div class="col-md-6" id="preview">
									<section class="price-table secPadding">
										<div class="container text-center">
											<div class="row">
												<div class="col-md-1">
												</div>
												<div class="col-xs-3 col-md-4">
													<div class="panel panel-default text-center">
														<div class="panel-body">
															<h3 class="panel-title price">free</h3>
														</div>
														<ul class="list-group">
															<li class="list-group-item">基本服务</li>
															<li class="list-group-item"><input type="checkbox" name="pay_type" id="chk0"  value="0"/></li>
														</ul>
													</div>
													<div class="panel panel-default text-center">
														<div class="panel-body">
															<h3 class="panel-title price">$199/年</h3>
														</div>
														<ul class="list-group">
															<li class="list-group-item">收费服务</li>
															<li class="list-group-item"><input type="checkbox" name="pay_type" id="chk1"  value="1"/></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</section>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" id="regist" value="{{'welcome_page_register.regist_btn' | translate}}"
							ng-click="regist()" class="btn btn-primary"
							ng-disabled="myForm.$invalid" data-dismiss="modal" />
						<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_register.cancel" | translate}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- regist dialog end-->
	<!-- regist success dialog start -->
	<div class="modal fade" id="downloadModal_regist_success" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>{{"welcome_page.register" | translate}}</h3>
				</div>
				<div class="modal-body">
					<span>{{"welcome_page_register.register_success" | translate}}</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_register.register_close_btn" | translate}}</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="downloadModal_regist_success_event" data-target="#downloadModal_regist_success" data-toggle="modal" />
	<!-- regist success dialog end-->
	<!-- regist fail dialog start -->
	<div class="modal fade" id="downloadModal_regist_fail" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h3>{{"welcome_page.register" | translate}}</h3>
				</div>
				<div class="modal-body">
					<span>{{"welcome_page_register.register_fail" | translate}}</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{"welcome_page_register.register_close_btn" | translate}}</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="downloadModal_regist_fail_event"
		data-target="#downloadModal_regist_fail" data-toggle="modal" />
	<div id="sHtmlText"></div>
	<!-- regist success dialog end-->
	<!-- footer start -->
	<footer-h5 id="footer"> <!-- .footer start -->
	<div class="footer section">
		<div class="container">
			<h1 class="title text-center" id="contact">{{pageContent.contact.title}}</h1>
			<div class="space"></div>
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-content">
						<form role="form" id="contactForm" name="contactForm"
							novalidate="novalidate">
							<div class="form-group has-feedback">
								<label class="sr-only" for="name2">Name</label> <input
									type="text" class="form-control" id="name2" placeholder="Name"
									name="name2" required="" ng-model="contact.name2" /> <i
									class="fa fa-user form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="corpname2">Company Name</label> <input
									type="text" class="form-control" id="corpname2"
									placeholder="Company Name" name="corpname2" required=""
									ng-model="contact.corpname2" /> <i
									class="fa fa-home form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="phone2">Phone</label> <input
									type="text" class="form-control" id="phone2"
									placeholder="Phone" name="phone2" ng-model="contact.phone2" />
								<i class="fa fa-phone form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="email2">Email address</label> <input
									type="email" class="form-control" id="email2"
									placeholder="Enter email" name="email2" required=""
									ng-model="contact.email2" /> <i
									class="fa fa-envelope form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="address2">Address</label> <input
									type="text" class="form-control" id="address2"
									placeholder="Address" name="address2"
									ng-model="contact.address2" /> <i
									class="fa fa-crosshairs form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="message2">Message</label>
								<textarea class="form-control" rows="8" id="message2"
									placeholder="Message" name="message2"
									ng-model="contact.message2"></textarea>
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
							<input type="submit" value="Send" class="btn btn-default"
								ng-click="sendContactUs()" />
						</form>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="footer-content">


						<div class="widget-content">

							<p>{{pageContent.contact.detail}}</p>
							<br />

							<p class="contacts">
								<i class="fa fa-map-marker"></i> {{pageContent.contact.address}}
							</p>

							<p class="contacts">
								<i class="fa fa-phone"></i> {{pageContent.contact.tel}}
							</p>

							<p class="contacts">
								<i class="fa fa-envelope"></i> {{pageContent.contact.email}}
							</p>



						</div>
						<ul class="social-links">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end --> <!-- .subfooter start -->
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">Copyright &copy; 2016.Company name All
						rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- .subfooter end --> </footer-h5>
	<!-- footer end -->

</body>
</html>
